<!-- directory bank content start-->
<% title 'Mortgage Costs by Bank'+'-'+@alphabet %>
<section class="content-main dirctory mortgage-rates-state">
  <div class="container">
     <div class="directory-box">
        <h1>Mortgage Costs by Bank - <%=@alphabet%></h1>
        <div class="directory-links-box">
          <%@counter = 0%>
           <%@banks.in_groups_of((@banks.count.to_f/30).ceil, false) do |bank|%>
              <div class="col-xs-12 col-md-4">
                 <%p bank.count.to_s%>
                 <%@counter = @counter+1 %> 
                  <%=form_tag(mortgage_state_banks_list_path(bank_list: bank.first.name.tr(' ', '+')+ '_'+bank.last.name.tr(" ", "+")), id: "bank-form-"+@counter.to_s, method: :post) do |f| %>
                      <%=hidden_field_tag 'bank_from_'+@counter.to_s, bank.first.id%>
                      <%=hidden_field_tag 'bank_to_'+@counter.to_s, bank.last.id%>
                      <%=hidden_field_tag 'form_no', @counter%>  
                    <%=link_to bank.first.name+' to '+ bank.last.name, "javascript:;", class: "submit_bank", id: "bank-group-"+@counter.to_s %>
                  <%end%>    
              </div>      
           <%end%>   
        </div>
         <div class="col-xs-12 col-md-4">
         </div>    
     </div>
  </div>
</section>
<!-- directory bank content end--> 

<script type="text/javascript">
   $(document).on("mousedown",".submit_bank",function(){
    var getId = $(this).attr('id');
    getId = getId.split('-');
    getId = getId[2];
    $("#bank-form-"+getId).submit();
  });
</script>