<%#=begin
form:           change password
Developer:      Varun
Created:        09-024-2018
Purpose:        edit registration
Params:         email password password_confirmation current_password
Return:         hash
=end %>
<% title 'Profile Edit'%>
<%= devise_error_messages! %>
   <section class="content-main profile-page">
      <div class="container">
         <!-- user profile start-->
         <div class="profile-blocks">
            <h3>Profile</h3>
             <%= form_for(resource, as: resource_name, url: update_profile_path, html: { method: :put, id: "user_profile_section"}) do |f|%>
            <div class="profile-blocks-cntnt">
               <div class="row">
                  <div class="col-xs-6 col-md-6">
                     <div class="form-group">
                        <label>First Name</label>
                        <%= f.text_field :first_name, class: "form-control", placeholder: "Enter first name" %> 
                     </div>
                  </div>
                  <div class="col-xs-6 col-md-6">
                     <div class="form-group">
                        <label>Last Name</label>
                        <%= f.text_field :last_name, class: "form-control",  placeholder: "Enter last name"  %>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12 col-md-6">
                     <div class="form-group">
                        <label>Email</label>
                        <%= f.email_field :email, class: "form-control",placeholder: 'Enter email'  %> 
                     </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                     <div class="form-group">
                        <label>Phone</label>
                        <%= f.text_field :phone_number, class: "form-control", placeholder: 'Enter phone number'%>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-6 col-md-6">
                     <div class="form-group">
                        <label>Zip Code</label>
                         <%= f.text_field :zip_code, class: "form-control", placeholder: 'Enter zip code'%>
                     </div>
                  </div>
                  <div class="col-xs-6 col-md-6">
                     <div class="form-group">
                        <label>Purpose</label>
                        <%= f.select :purpose,options_for_select(['Purchase','Refinance'],current_user.purpose), class: "form-control" %>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12 col-md-6">
                     <div class="form-group price-input-box">
                        <label>Home Price</label>
                        <div class="dollar-icn">$</div>
                        <%= f.text_field :home_price, class: "form-control", placeholder: 'Enter home price'%>
                     </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                     <div class="form-group price-input-box">
                        <label>Down Payment</label>
                        <div class="dollar-icn">$</div>
                        <%= f.text_field :down_payment,class: "form-control", placeholder: 'Enter down payment' %>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12 col-md-6">
                     <div class="form-group">
                        <label>Credit Score</label>
                        <%= f.select :credit_score, options_for_select(['700','750','750+'],current_user.credit_score.to_i.to_s) %>
                     </div>
                  </div>
               </div>
               <%= f.hidden_field :id, value: current_user.id%>
               <div class="row">
                  <div class="col-xs-12 col-md-12">
                     <div class="form-group text-center">
                        <%= f.submit "Save", class: "ornage-btn-dark-shadow"%>
                     </div>
                  </div>
               </div>
            </div>
             
            <% end %>
         </div>
         <!-- user profile end--> 
         <!-- change password start-->
         <div class="profile-blocks">
            <h3>Change</h3>
             <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "user_password_section" }) do |f|%>
              
            <div class="profile-blocks-cntnt">
               <div class="row">
                  <div class="col-xs-12 col-md-6">
                     <div class="form-group">
                        <label>Current Password</label>
                        <!-- <input class="form-control" type="password" placeholder=""> -->
                         <%= f.password_field :current_password, autocomplete: "off" %>
                     </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                     <div class="form-group">
                        <label>New Password</label>
                        <!-- <input class="form-control" type="password" placeholder=""> -->
                        <%= f.password_field :password, autocomplete: "off" , class: "form-control" %>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12 col-md-6 pull-right">
                     <div class="form-group">
                        <label>Confirm New Password</label>
                        <!-- <input class="form-control" type="password" placeholder=""> -->
                        <%= f.password_field :password_confirmation, autocomplete: "off" %>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12 col-md-12">
                     <div class="form-group text-center">
                        <!-- <input type="submit" value="SAVE" class="ornage-btn-dark-shadow"> -->
                        <%= f.submit "Save", class: "ornage-btn-dark-shadow" %> 
                     </div>
                  </div>
               </div>
            </div>
            <%end%>
         </div>
         <!-- change password end-->
         <!-- user price alert start-->
         <div class="profile-blocks">
            <h3>Price Alert</h3>
             <%= form_for(resource, as: resource_name, url: update_profile_path, html: { method: :put }) do |f|%>
            <div class="profile-blocks-cntnt">
               <div class="row">
                  <div class="col-xs-12 col-md-12">
                     <div class="form-group">
                        <label>Email me the latest, up to date pricing for my favaried or last mortage search.</label>
                        <span class="checkbox-custm-row">
                          <%= f.radio_button :price_alert,current_user.price_alert == 0 ? current_user.price_alert : 0 %> Daily
                        </span>
                        <span class="checkbox-custm-row"> 
                          <%= f.radio_button :price_alert,current_user.price_alert == 1 ? current_user.price_alert : 1 %> Weekly 
                        </span>
                        <span class="checkbox-custm-row">
                         <%= f.radio_button :price_alert,current_user.price_alert == 2 ? current_user.price_alert : 2%> Never 
                       </span>
                     </div>
                     <%= f.hidden_field :id, value: current_user.id%>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12 col-md-12">
                     <div class="form-group text-center">
                        <%= f.submit "Update",class: "ornage-btn-dark-shadow" %>
                     </div>
                  </div>
               </div>
            </div>
            <%end%>
         </div>
         <!-- user price alert end-->
         <!-- user favourites start-->
         <div class="profile-blocks fav-srch-blocks profile-blocks-full">
            <h3>Favorites</h3>
            <div class="profile-blocks-cntnt fav-search-layout">
               <h5>Favorites Searches</h5>
               <div class="row">
                  <div class="fav-search-date fav-search-cntnt-comon col-xs-12 col-md-1">
                     <p class="hiden-txt-mb">Created</p>
                     <div class="fav-search-white-block">Oct 10,2017</div>
                  </div>
                  <div class="fav-search-date-cntnt col-xs-12 col-md-6">
                     <div class="fav-search-cntnt-comon col-xs-2 col-md-2">
                        <p class="">Zip</p>
                        <div class="fav-search-white-block">94305</div>
                     </div>
                     <div class="fav-search-cntnt-comon col-xs-3 col-md-3">
                        <p class="">Purpose</p>
                        <div class="fav-search-white-block">Purchase</div>
                     </div>
                     <div class="fav-search-cntnt-comon col-xs-3 col-md-3">
                        <p class="">Loan Amount</p>
                        <div class="fav-search-white-block">$400,000 </div>
                     </div>
                     <div class="fav-search-cntnt-comon col-xs-4 col-md-4">
                        <p class="">Down Payment</p>
                        <div class="fav-search-white-block">$100,000 </div>
                     </div>
                  </div>
                  <div class="fav-search-date-cntnt col-xs-12 col-md-5">
                     <div class="fav-search-cntnt-comon col-xs-4 col-md-4">
                        <p class="">Credit Score</p>
                        <div class="fav-search-white-block">750+</div>
                     </div>
                     <div class="fav-search-cntnt-comon col-xs-5 col-md-5">
                        <p class=""></p>
                        <div class="fav-search-white-block"><a href="">Full Search Details</a></div>
                     </div>
                     <div class="fav-search-cntnt-comon col-xs-2 col-md-2">
                        <p class=""></p>
                        <div class="fav-search-white-block"><a href="">Search</a></div>
                     </div>
                     <div class="fav-search-cntnt-comon col-xs-1 col-md-1">
                        <p class=""></p>
                        <div class="fav-search-white-block"><a href=""><img src="images/bin_03.png" alt=""></a></div>
                     </div>
                  </div>
               </div>
               <div class="row fav-search-inner-row gray-row-mb">
                  <div class="fav-search-date fav-search-cntnt-comon col-xs-12 col-md-1">
                     <p class="hiden-txt-desktop hiden-txt-mb"></p>
                     <div class="fav-search-white-block">Oct 14,2017</div>
                  </div>
                  <div class="fav-search-date-cntnt col-xs-12 col-md-6">
                     <div class="fav-search-cntnt-comon col-xs-2 col-md-2">
                        <p class="hiden-txt-desktop">Zip</p>
                        <div class="fav-search-white-block">94305</div>
                     </div>
                     <div class="fav-search-cntnt-comon col-xs-3 col-md-3">
                        <p class="hiden-txt-desktop">Purpose</p>
                        <div class="fav-search-white-block">Purchase</div>
                     </div>
                     <div class="fav-search-cntnt-comon col-xs-3 col-md-3">
                        <p class="hiden-txt-desktop">Loan Amount</p>
                        <div class="fav-search-white-block">$300,000 </div>
                     </div>
                     <div class="fav-search-cntnt-comon col-xs-4 col-md-4">
                        <p class="hiden-txt-desktop">Down Payment</p>
                        <div class="fav-search-white-block">$100,000 </div>
                     </div>
                  </div>
                  <div class="fav-search-date-cntnt col-xs-12 col-md-5">
                     <div class="fav-search-cntnt-comon col-xs-4 col-md-4">
                        <p class="hiden-txt-desktop">Credit Score</p>
                        <div class="fav-search-white-block">650-700</div>
                     </div>
                     <div class="fav-search-cntnt-comon col-xs-5 col-md-5">
                        <p class="hiden-txt-desktop"></p>
                        <div class="fav-search-white-block"><a href="">Full Search Details</a></div>
                     </div>
                     <div class="fav-search-cntnt-comon col-xs-2 col-md-2">
                        <p class="hiden-txt-desktop"></p>
                        <div class="fav-search-white-block"><a href="">Search</a></div>
                     </div>
                     <div class="fav-search-cntnt-comon col-xs-1 col-md-1">
                        <p class="hiden-txt-desktop"></p>
                        <div class="fav-search-white-block"><a href=""><img src="images/bin_03.png" alt=""></a></div>
                     </div>
                  </div>
               </div>
               <h5>Favorites Loans</h5>
               <div class="row fav-search-inner-row no-margn-botom">
                  <div class="fav-search-date fav-search-cntnt-comon col-xs-12 col-md-1">
                     <p class="hiden-txt-mb">Created</p>
                     <div class="fav-search-white-block">Oct 10,2017</div>
                  </div>
                  <div class="fav-search-date-cntnt col-xs-12 col-md-6">
                     <div class="fav-search-cntnt-comon col-xs-4 col-md-4">
                        <p class="">Bank</p>
                        <div class="fav-search-white-block">Citybank</div>
                     </div>
                     <div class="fav-search-cntnt-comon col-xs-4 col-md-4">
                        <p class="">Team</p>
                        <div class="fav-search-white-block">30 - Year Fixed</div>
                     </div>
                     <div class="fav-search-cntnt-comon col-xs-4 col-md-4">
                        <p class="">Interest Rate</p>
                        <div class="fav-search-white-block">2.45%</div>
                     </div>
                  </div>
                  <div class="fav-search-date-cntnt col-xs-7 col-md-3">
                     <div class="fav-search-cntnt-comon col-xs-8 col-md-8">
                        <p class="hiden-txt-mb ipad-nw"></p>
                        <div class="fav-search-white-block"><a href="">View Website</a></div>
                     </div>
                     <div class="fav-search-cntnt-comon col-xs-4 col-md-4">
                        <p class="hiden-txt-mb ipad-nw"></p>
                        <div class="fav-search-white-block"><a href=""><img src="images/bin_03.png" alt=""></a></div>
                     </div>
                  </div>
               </div>
               <div class="row fav-search-inner-row gray-row-mb">
                  <div class="fav-search-date fav-search-cntnt-comon col-xs-12 col-md-1">
                     <p class="hiden-txt-desktop">Created</p>
                     <div class="fav-search-white-block">Oct 10,2017</div>
                  </div>
                  <div class="fav-search-date-cntnt col-xs-12 col-md-6">
                     <div class="fav-search-cntnt-comon col-xs-4 col-md-4">
                        <p class="hiden-txt-desktop">Bank</p>
                        <div class="fav-search-white-block">Citybank</div>
                     </div>
                     <div class="fav-search-cntnt-comon col-xs-4 col-md-4">
                        <p class="hiden-txt-desktop">Team</p>
                        <div class="fav-search-white-block">30 - Year Fixed</div>
                     </div>
                     <div class="fav-search-cntnt-comon col-xs-4 col-md-4">
                        <p class="hiden-txt-desktop">Interest Rate</p>
                        <div class="fav-search-white-block">2.45%</div>
                     </div>
                  </div>
                  <div class="fav-search-date-cntnt col-xs-7 col-md-3">
                     <div class="fav-search-cntnt-comon col-xs-8 col-md-8">
                        <p class="hiden-txt-desktop"></p>
                        <div class="fav-search-white-block"><a href="">View Website</a></div>
                     </div>
                     <div class="fav-search-cntnt-comon col-xs-4 col-md-4">
                        <p class="hiden-txt-desktop"></p>
                        <div class="fav-search-white-block"><a href=""><img src="images/bin_03.png" alt=""></a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- user favourites end-->   
      </div>
   </section>
