   <!-- banner search start-->
 <section class="banner search-result-banner" data-spy = "affix" data-offset-top = "80" data-offset-bottom = "200">
    <div class="container">
       <!-- banner main search start-->
       <div class="search-main adv-search-mb" id="seo-city-mort-desktop">
          <div class="search-cat zip-srch">
             <label>Zip Code</label>
             <input type="text" placeholder="123456" value= <%=user_location_info.present? ? user_location_info.data["postal"].present? ? user_location_info.data["postal"] : @bank.zip : @bank.zip%> >
          </div>
          <div class="search-cat purpse-srch">
             <label>Purpose</label>
             <select>
                <option>Purchase</option>
             </select>
          </div>
          <div class="search-cat price-srch">
             <label>Home Price</label>
             <div class="dollar-icn">$</div>
             <input type="text" placeholder="123456">
          </div>
          <div class="search-cat price-srch">
             <label>Down Payment</label>
             <div class="dollar-icn">$</div>
             <input type="text" placeholder="123456">
          </div>
          <div class="search-cat cr-srch">
             <label>Credit Score</label>
             <select>
                <option>750+</option>
             </select>
          </div>
          <button class="rates-btn src-btn-inner">Get Rates</button>
       </div>
       <div class="search-main adv-search-mb" id="seo-city-mort-mb">
          <div class="section-lft-srch-drpdwn-icn" id="srch-edit-mb-only">
             <i class="fa fa-pencil"></i>
          </div>
          <div class="section-lft-srch-price-alert">
             <a data-toggle="modal" data-target="#create-price-alert" href=""><img src="/images/mobile/mail4_03.png" alt=""></br>
             Price Alert
             </a>
          </div>
          <div class="section-lft-srch-drpdwn-icn">
             <!-- <i class="fa fa-angle-double-down"></i> -->
             <a href="" data-toggle="modal" data-target="#advance-srch-mb" class="mb-btn">
              <i class="fa fa-pencil"></i>
             </a>
             
          </div>
          <div class="section-lft-srch">
             <p>$500,00 Home Purchase <span>in  <%=user_location_info.present? ? user_location_info.data["postal"].present? ? user_location_info.data["postal"] : @bank.zip : @bank.zip%></span></p>
             <p>$100,00 Down <span>750 +</span></p>
          </div>
       </div>
       <!-- banner main search end-->
    </div>
    <div class="srch-results-adv-srch inner-mb-changes">
       <div class="container">
          <!-- advance search start-->
          <div class="search-adv-option-box">
             <a href="javascript:void(0);" id="adv-option" class="desktop-btn"><i class="fa fa-angle-double-down"></i> Advanced Options</a>
             <a href="" data-toggle="modal" data-target="#advance-srch-mb" class="mb-btn"><i class="fa fa-angle-double-down"></i> Advanced Options</a>
             <a data-toggle="modal" data-target="#login-popup" href="" class="price-alert-btn"><i class="fa fa-envelope"></i> Create Price Alert</a>
             <div class="search-adv-option" id="search-adv-option-inner">
                <div class="row">
                   <h4>desired loan programs?</h4>
                   <div class="col-xs-12 col-md-2 advance-check">
                      <div class="form-group"><input type="checkbox" value=""> 30 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 20 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 15 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 10 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 7/1 Arm</div>
                      <div class="form-group"><input type="checkbox" value=""> 5/1 Arm</div>
                      <div class="form-group"><input type="checkbox" value=""> 3/1 Arm</div>
                   </div>
                   <div class="col-xs-12 col-md-3 drpdown-box">
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                   </div>
                   <div class="col-xs-12 col-md-4 drpdown-box">
                      <select>
                         <option>Select Prepay Penalty</option>
                      </select>
                      <label>Cash Reserves (mos)</label>
                      <select>
                         <option>$ 15</option>
                      </select>
                      <label>Monthly Debt</label>
                      <select>
                         <option>$ 0</option>
                      </select>
                      <label>Monthly Income</label>
                      <select>
                         <option>$ 5,000</option>
                      </select>
                   </div>
                   <div class="col-xs-12 col-md-3 advance-check">
                      <p>Owned Properties <span>01</span></p>
                      <div class="form-group"><input type="checkbox" value=""> Interest Only</div>
                      <div class="form-group"><input type="checkbox" value=""> Hazard Insuarance Waived</div>
                      <div class="form-group"><input type="checkbox" value=""> Property Taxes Waived</div>
                      <div class="form-group"><input type="checkbox" value=""> First Time Home Buyer</div>
                      <div class="form-group"><input type="checkbox" value=""> Non Perm Resident Alien</div>
                      <div class="form-group"><input type="checkbox" value=""> Foreign National</div>
                      <div class="form-group"><input type="checkbox" value=""> Miltary</div>
                      <div class="form-group"><input type="checkbox" value=""> Rular</div>
                   </div>
                   <div class="col-xs-12 col-md-3 menu-up-adv-search"><a href=""><img src="/images/menu-up-white.png" alt=""/></a></div>
                </div>
             </div>
          </div>
          <!-- advance search end-->
       </div>
    </div>
 </section>
 <!-- banner search end-->
 <!-- search result feed start-->
 <section class="content-main seo-cities-mortgage autoloan-top-sectn-cntrl">
    <div class="container">
       <!--Bank of America Mortgage Overview start-->
       <div class="seo-auto-loan-cntnt-box mb-bg-gray seo-loan-cntnt-box-chnge">
          <div class="col-xs-12 col-md-8 our-story-cntnt">
             <div class="gray-box-cntnt seo_bank_auto_loan_top" id="bank_content">
                <h3><%=@bank.name%> Mortgage Overview</h3>
                <p>The mortgage and refinance department of <%=@bank.name%> primarily focuses on residential mortgages, which includes privately issued residential mortgage-backed securities, US government agency and corporation issued obligations and mortgage-backed pass-through securities. </p>
                <div class="space-row"> </div>
                <p class="mb-hide-spl">The total amount of outstanding residential mortgages is <%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.m_idscod * 1000).round(-3), precision: 0) : '$0'%> and total amount of outstanding commercial mortgages is <%=@fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.m_sccmmb * 1000).round(-3), precision: 0) : '$0'%> . </p>
                <span class="initial-section" href="" id="para-see-more-link">See More</span>
             </div>
          </div>
          <div class="col-xs-12 col-md-4 seo-bank-cntn-white-bg seo-bank-cntn-top-white-bg mb-hide-spl" id="bank_details">
             <h3><%=@bank.name%></h3>
             <p>Founded  <%=@bank.estymd.to_date.strftime("%B %d, %Y")%></br>
                FDIC Certificate Number - <%=@bank.cert%></br>
                <%=@bank.address+', '+@bank.city+', '+@bank.stname%>
             </p>
             <p class="seo-bank-cntn-white-bg-info"><span>Total Assets:</span> <%= @bank.asset.present? ? number_to_currency((asset_and_dep_formatting(@bank.asset) * 1000).round(-3), precision: 0) : '$0' %></p>
             <p class="seo-bank-cntn-white-bg-info"><span>Total Deposits:</span> <%= @bank.dep.present? ? number_to_currency((asset_and_dep_formatting(@bank.dep) * 1000).round(-3), precision: 0) : '$0' %></p>
          </div>
       </div>
       <!--Bank of America Mortgage Overview end-->
       <p class="top-txt-info">Each Loan Type Sorted By
          <a href="" data-toggle="modal" data-target="#login-popup-nw" class="">APR</a>
       </p>
       <!--30 Years feed start-->
       <div class="cntnt-list-box">
          <h5>30-Year Fixed Rates Customized for <%= Date.today.strftime("%B %d, %Y")%></h5>
          <div class="cntnt-list-inner gray-bg col-md-12">
             <div class="inner-logo"><img src="/images/pic1_06.png" alt="">
        <a href=""><%=@bank.name%></a>
        <p>NMLS ID 54645</p>
        </div>
         <div class="inner-block">
            <span class="hdng-big">4.356% Rate</span>
            <p class="hiden-txt-mb">4.145% APR</p>
            <p>30 Year Fixed</p>
            <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
         </div>
         <div class="inner-block-combined">
           <div class="inner-block inner-block-small">
              <span class="hdng-big">$23,078</span>
              <p><span class="hiden-txt-mb">Expected</span> Savings</p>
           </div>
            <div class="inner-block inner-block-small">
              <span class="hdng-big">$3,072/mo</span>
              <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
           </div>
            <div class="inner-block inner-block-small">
              <span class="hdng-big">$23,078</span>
              <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
           </div>
           </div>
          <div class="inner-block-btn">
            <img src="/images/heart_03.png" alt="" class="wishlist-icn-fill">
            <a href="" class="dtail-btn">View Details</a>
            <a href="" class="lendr-web-link">Lender Website</a>
          </div>
        <div class="mb-scroll-icn">
        <a href=""><i class="fa fa-angle-right"></i></a>
        </div>
          </div>
          <div class="cntnt-list-inner col-md-12">
             <div class="inner-logo"><img src="/images/pic2_03.png" alt="">
              <a href=""><%=@bank.name%></a>
              <p>NMLS ID 54645</p>
              </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
                 <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
               <div class="inner-block inner-block-small">
                  <span class="hdng-big">$23,078</span>
                  <p><span class="hiden-txt-mb">Expected</span> Savings</p>
               </div>
                  <div class="inner-block inner-block-small">
                  <span class="hdng-big">$3,072/mo</span>
                  <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
               </div>
                <div class="inner-block inner-block-small">
                  <span class="hdng-big">$23,078</span>
                  <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
               </div>
             </div>
             <div class="inner-block-btn">
                <img src="/images/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
            <div class="mb-scroll-icn">
            <a href=""><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="cntnt-list-inner gray-bg col-md-12">
            <div class="inner-logo"><img src="/images/pic3_07.png" alt="">
              <a href=""><%=@bank.name%></a>
              <p>NMLS ID 54645</p>
            </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
                <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="/images/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
            <div class="mb-scroll-icn">
            <a href=""><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
       </div>

       <div class="cntnt-list-box">
          <h5>15-Years Fixed Rates Customized for <%= Date.today.strftime("%B %d, %Y")%></h5>
          <div class="cntnt-list-inner gray-bg col-md-12">
             <div class="inner-logo"><img src="/images/pic1_06.png" alt="">
              <a href=""><%=@bank.name%></a>
              <p>NMLS ID 54645</p>
              </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
                <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="/images/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
            <div class="mb-scroll-icn">
            <a href=""><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="cntnt-list-inner col-md-12">
             <div class="inner-logo"><img src="/images/pic2_03.png" alt="">
              <a href=""><%=@bank.name%></a>
              <p>NMLS ID 54645</p>
            </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
              <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="/images/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
            <div class="mb-scroll-icn">
            <a href=""><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="cntnt-list-inner gray-bg col-md-12">
             <div class="inner-logo"><img src="/images/pic3_07.png" alt="">
            <a href=""><%=@bank.name%></a>
            <p>NMLS ID 54645</p>
            </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
              <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
            <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="/images/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
            <div class="mb-scroll-icn">
            <a href=""><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
       </div>

       <!-- Bank of America Mortgage Rates Comparision start-->
       <div class="row">
          <div class="col-xs-12 col-md-12">
             <div class="loan-detail-blocks">
                <h3><%=@bank.name%> Mortgage Rates Comparision</h3>
                <div class="graph-box">
                   <img src="/images/seo-city-mortgage-graph2.png" alt="">
                   <img src="/images/seo-city-mortgage-graph2.png" alt="">
                   <img src="/images/seo-city-mortgage-graph2.png" alt="">
                   <p class="para-lft-inner">The charts above are the historical interest rates quoted for home loans by <%=@bank.name%>.  This is data generated from aggregating publicly published mortgage rates from <%=@bank.name%> and other mortgage lenders, and is not seen anywhere else.  We have shown the most relevant metrics (interest rates, APR, and closing costs) for the most popular loan types (30-yr fixed, 15-yr fixed, and 5/1 ARM).</p>
                   <a href="" class="see-more-link-common">See More Cost Breakdown</a>
                </div>
             </div>
          </div>
       </div>
       <!-- Bank of America Mortgage Rates Comparision end-->
       <!-- Home Loan Breakdown start-->
       <div class="row">
          <div class="col-xs-12 col-md-12 seo-bank-table-graph">
             <div class="loan-detail-blocks volume-auto-loan home-loan-breakdown">
                <h3><%=@bank.name%> Home Loan Breakdown</h3>
                <div class="row">
                   <div class="col-xs-12 col-md-7">
                      <div class="volume-auto-loan-row bg-white">
                         <p class="vol-row-inner"><strong>Mortgage Classification</strong> </p>
                         <span> <strong>Total Value</strong></span>
                      </div>
                      <div class="volume-auto-loan-row">
                         <p class="vol-row-inner">Privately issued residential mortgage-backed securities
                         </p>
                         <span> <%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.m_idscod * 1000).round(-3), precision: 0) : '$0'%></span>
                      </div>
                      <div class="volume-auto-loan-row bg-white">
                         <p class="vol-row-inner">Commercial mortgage-backed securities
                         </p>
                         <span> <%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.m_sccmmb * 1000).round(-3), precision: 0) : '$0'%></span>
                      </div>
                      <div class="volume-auto-loan-row">
                         <p class="vol-row-inner">Commercial mortgage pass-through securities
                         </p>
                         <span> <%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.m_sccmpt * 1000).round(-3), precision: 0) : '$0'%></span>
                      </div>

                      <div class="volume-auto-loan-row bg-white">
                         <p class="vol-row-inner">Total mortgage-backed securities
                         </p>
                         <span> <%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.m_scmtgbk * 1000).round(-3), precision: 0) : '$0' %></span>
                      </div>
                      
                      <div class="volume-auto-loan-row ">
                         <p class="vol-row-inner">Certificates of participation in pools of residential mortgages
                         </p>
                         <span> <%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.m_idscgtpc * 1000).round(-3), precision: 0) : '$0' %></span>
                      </div>
                      <div class="mb-hide" id="fdic_mobile_data_section">
                          <div class="volume-auto-loan-row bg-white">
                             <p class="vol-row-inner">Collaterized mortgage obligations
                             </p>
                             <span> <%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.m_idsccmo * 1000).round(-3), precision: 0) : '$0' %></span>
                          </div>
                          <div class="volume-auto-loan-row ">
                             <p class="vol-row-inner">Mortgage servicing assets

                             </p>
                             <span> <%=@fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.m_intanmsr * 1000).round(-3), precision: 0) : '$0' %></span>
                          </div>

                          <div class="volume-auto-loan-row bg-white">
                             <p class="vol-row-inner">Real estate mortgages;  personal trust and agency accounts
                             </p>
                             <span> <%=@fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.m_tpiremtg * 1000).round(-3), precision: 0) : '$0' %></span>
                          </div>

                          <div class="volume-auto-loan-row">
                             <p class="vol-row-inner">Real estate mortgages;  employee benefit and retirement trusts

                             </p>
                             <span> <%=@fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.m_teremtg * 1000).round(-3), precision: 0) : '$0' %></span>
                          </div>

                          <div class="volume-auto-loan-row bg-white">
                             <p class="vol-row-inner">Real estate mortgages; all other managed accounts
                             </p>
                             <span> <%=@fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.m_toremtg * 1000).round(-3), precision: 0) : '$0' %></span>
                          </div>
                        </div>
                        <button class= "show-all-specialst-btn mb-only pull-right see-more-fdic" id="fdic_mobile_data_section_btn">See More</button>

                      <a class="link-right-inner mb-hide">Data produced  from US Government reported financials</a>
                   </div>

                   <div class="col-xs-12 col-md-5">
                      <p><%=@bank.name%> lends out a total of <%=@fdic_cal_data.present? ?  number_to_currency((@fdic_cal_data.m_lnlsgr * 1000).round(-3), precision: 0) : '$0'%> annually. Of this loan volume, <%=@bank.name%> home mortgages are <%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.m_lnre * 1000).round(-3), precision: 0) : '$0'%>. As a result, <%=@bank.name%> home loans represent <%= @fdic_cal_data.present? ? ((@fdic_cal_data.m_lnre/@fdic_cal_data.m_lnlsgr) *100).round(1) : '0' %>% of the total lending of <%=@bank.name%>.</p>
                   </div>
                  <div class="col-xs-12 col-md-5" id="piechart"></div>
                  <a class="link-right-inner mb-only">Data produced  from US Government reported financials</a>
                </div>
                <div class="graph-box">
                   <p>The data above is produced from publicly disclosed information made available through the <%=link_to "Federal Deposit Insurance Company","https://www.fdic.gov/", target: :_blank %>.  <%=@bank.name%> is a member of the FDIC, and is required to accurately disclose these required information in a timely manner. PureLoan aggregates this data and presents it in a view that is educational for our users as they consider a mortgage from <%=@bank.name%>.</p>
                </div>
             </div>
          </div>
       </div>
       <!-- Home Loan Breakdown end-->
       <!-- Home Equity Loan Officers start-->
       <div class="seo-auto-loan-tabs loan-detail-blocks">
          <h3><%=@bank.name%> Home Equity Loan Officers</h3>
          <div class="tabs-data-main desktop-tabs-data">
             <div class="tabs-data-hdng">
                <div class="col-xs-12 col-md-6">Name</div>
                <div class="col-xs-12 col-md-6">Contact</div>
             </div>
                <%if @loan_officers.present?%>
                  <%@loan_officers.each do |loan_officer|%>
                    <div class="tabs-data-row">
                      <div class="col-xs-12 col-md-6">
                          <p><%= remove_unnecessary_keywords(loan_officer.try(:first))%> <%=remove_unnecessary_keywords(loan_officer.try(:last))%></p>
                          <p><%= remove_unnecessary_keywords(loan_officer.title)%></p>
                      </div>
                      <div class="col-xs-12 col-md-6">
                          <p><%= loan_officer.phone1.present? ? mobile_no_formatting(loan_officer.phone1) : 
                          loan_officer.phone2.present? ? mobile_no_formatting(loan_officer.phone2) : mobile_no_formatting(loan_officer.cell)%>
                          </p>
                      </div>
                    </div>
                  <%end%>
                <%else%>
                    <div class="tabs-data-row no-record-box">
                      No Records Found
                    </div>
                <%end%>
          </div>
          <!--Used Car Loans Officers mobile tabs end-->
          <div class="tabs-data-main tabs-accordians-box">
             <div class="panel-group">
              <%if @loan_officers.present?%>
               <%@loan_officers.first(3).each_with_index do |loan_officer, i|%>
                  <div class="panel panel-default">
                     <div class="panel-heading tabs-data-hdng">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse_<%=i.to_s%>">
                          <%= remove_unnecessary_keywords(loan_officer.try(:first))%> <%=remove_unnecessary_keywords(loan_officer.try(:last))%>
                          <br>
                          <%= remove_unnecessary_keywords(loan_officer.title)%>
                        </a>
                     </div>
                     <div id="collapse_<%=i.to_s%>" class="panel-collapse collapse">
                        <div class="tabs-data-row">
                           <div class="col-xs-12 col-md-12">
                              <h5>Contact</h5>
                              <p><%= loan_officer.phone1.present? ? mobile_no_formatting(loan_officer.phone1) : mobile_no_formatting(loan_officer.phone2)%></p>
                           </div>
                        </div>
                     </div>
                  </div>
                <%end%>
                <%else%>
                    <div class="tabs-data-row">
                      No Records Found
                    </div>
                <%end%>
             </div>
          </div>
       </div>
       <!-- Home Equity Loan Officers end-->
       
       <!-- News of Bank start-->
       <div class="volume-auto-loan full-width loan-detail-blocks">
          <h3>News on <%=@bank.name%> Mortgages and Home Loans</h3>
          <div class="mb-hide">
            <%if @news_articles.present?%>
              <%@news_articles.each_with_index do |na, i|%>
                <%if i < 5%>
                  <div class="car-auto-loan-news">
                    <h6><%=link_to na.headline.truncate(42), na.url, target: "_blank"%></h6> 
                      <p><%=na.text.truncate(130)%>,  <%#=link_to "more info", na.url, target: "_blank"%></p>
                  </div>
                <%else%>
                  <div id='news_articles_data_<%=i.to_s%>' style= "display:none;">
                    <div class="car-auto-loan-news">
                      <h6><%=link_to na.headline.truncate(42), na.url, target: "_blank"%></h6> 
                        <p><%=na.text.truncate(130)%>,  <%#=link_to "more info", na.url, target: "_blank"%></p>
                    </div>
                  </div>  
                <%end%>  
              <%end%>
              <%if @news_articles.count > 5%>
                <div class="full-width">
                  <button class= "show-all-specialst-btn" id="desktop_news_data">See More</button>
                </div>
              <%end%>  
            <%else%>
              <div class="car-auto-loan-news">
                  No Records Found
              </div>
            <%end%>
          </div>
            <!-- section for mobile view -->
            <div class="mb-only">
            <%if @news_articles.present?%>
              <%@news_articles.each_with_index do |na, i|%>
                <%if i < 3 %>
                  <div class="car-auto-loan-news">
                    <h6><%=link_to na.headline.truncate(50), na.url, target: "_blank"%></h6> 
                      <p><%=na.text.truncate(72)%>,  <%#=link_to "more info", na.url, target: "_blank"%></p>
                  </div>
                <%else%>
                  <div id='mobile_news_articles_data_<%=i.to_s%>' style= "display:none;">
                    <div class="car-auto-loan-news">
                      <h6><%=link_to na.headline.truncate(50), na.url, target: "_blank"%></h6> 
                        <p><%=na.text.truncate(72)%>,  <%#=link_to "more info", na.url, target: "_blank"%></p>
                    </div>
                  </div>  
                <%end%>  
              <%end%>
              <%if @news_articles.count > 3%>
                <div class="news-see-more">
                  <a class= "news-see-more-link pull-right see-more-fdic" id="mobile_news_data">See More</a>
                </div>
              <%end%>  
            <%else%>
              <div class="car-auto-loan-news">
                  No Records Found
              </div>
            <%end%>
            </div>
          <!-- <a href="" class="see-more-link-common">See More Reported Financials</a> -->
          
       </div>
       <!-- News end here -->

       <!-- Loans from Similar Bank start-->
       <div class="volume-auto-loan full-width loan-detail-blocks car-auto-loan-othr-bank-box">
          <h3 class="tab_blue_content">Mortgage and Home Loans from Banks Similar to <%=@bank.name%></h3>
          <div class="car-auto-loan-othr-bank">
             <%if @near_by_banks.present?%>
             <%@near_by_banks.each do |nbb|%>
              <%=link_to nbb.name, bank_home_mortgage_loan_path(cert: nbb.cert,bank_name: custom_path(nbb.name)) %>
              <%end%>
             <%else%>
             No Records Found
             <%end%>
          </div>
       </div>
       <!-- Loans from Similar Bank end-->
    </div>
 </section>
<!-- search result feed end-->
<!-- common popup start-->
 <div class="modal fade common-popup-layout signup-login-popup" id="create-price-alert" role="dialog">
    <div class="modal-dialog">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal"><img src="/images/cancel_03.png" alt="" class="login-cross-img"></button>
             <h4><b>Create a Price Alert to obtain lowest Mortgage</b></br>
                <b>Rates and Save even more!</b>
             </h4>
          </div>
          <div class="modal-body">
             <%= form_for(:user, :url => session_path(:user), :html => {:id => "login_form"}) do |f| %>
              <ul class="login-drpdwn">
                <li>
                  <%= image_tag("login-mail.png", :alt => "login-mail") %>
                  <%= f.email_field :email, autofocus: true %>
                </li>
                <li>
                  <%= image_tag("login-pass.png", :alt => "login-pass") %>
                  <%= f.password_field :password, autocomplete: "off" %>
                </li>
                <li class="cntnt-login">
                  <button class="rates-btn">Log In</button>
                  <div class="forgot-signup-links">
                    <%= link_to "Forgot Password", new_user_password_path %>
                      or
                    <a href="" data-toggle="modal" data-target="#signup-popup" class="signup-link-clr">Sign up Now</a>
                  </div>
                   <p>or sign up with</p>
                   <div class="social-login">
                    <!-- <a href=""><%#= image_tag("facebook_13.png", :alt => "Facebook") %></a> -->
                    <%= link_to image_tag("facebook_13.png"), user_facebook_omniauth_authorize_url() %>
                    <!-- <a href=""><%#= image_tag("twitter_15.png", :alt => "Twitter") %></a> -->
                    <!-- <a href=""><%#= image_tag("google_13.png", :alt => "Google") %></a> -->
                    <%= link_to image_tag("google_13.png"), user_google_oauth2_omniauth_authorize_url() %>
                   </div>
                </li>
               </ul>
             <% end %>
          </div>
       </div>
    </div>
 </div>
 <!-- common popup end-->

<div class="modal fade common-popup-layout" id="create-price-alert" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><img src="/images/cancel_03.png" alt="" class="login-cross-img"></button>
            <h4><b>Create a Price Alert to obtain lowest Mortgage</b></br> 
               Rates and Save even more!
            </h4>
         </div>
         <div class="modal-body">
            <input type="text" placeholder="Enter your Email">
            <input type="text" placeholder="Password">
            <button class="rates-btn">Log In</button>
            <div class="forgot-signup-links">
               <a href="">Forgot Password,</a> or 
               <a href="" data-toggle="modal" data-target="#signup-popup" class="signup-link-clr">Sign up Now</a>
            </div>
         </div>
      </div>
   </div>
</div>


<!-- SCript for display pie chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

  
  // Load google charts
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  // Draw the chart and set the chart values

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
    ['Loans', 'Percentage'],
    ['Mortgage Loans', <%= @fdic_cal_data.present? ? ((@fdic_cal_data.m_lnre/@fdic_cal_data.m_lnlsgr) * 100).round(1) : 0 %>],
    ['Personal Loans', <%= ((63.3 * (100 - ((@fdic_cal_data.m_lnre/@fdic_cal_data.m_lnlsgr) * 100).round(1)))/100).round(1) %>],
    ['Auto Loans', <%= ((36.7 * (100 - ((@fdic_cal_data.m_lnre/@fdic_cal_data.m_lnlsgr) * 100).round(1)))/100).round(1) %>],
  ]);

    // Optional; add a title and set the width and height of the chart
    var options = {'title':' ', 'width': 500, 'height': 300};
    // Display the chart inside the <div> element with id="piechart"
    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    chart.draw(data, options);
  }


  $(document).ready(function(){
            $('.section-lft-srch-drpdwn-icn').click(function(){
              //$('.section-lft-srch-price-alert, .section-lft-srch-drpdwn-icn').hide();
              //$('.srch-results-adv-srch, #srch-edit-mb-only').show();
            });
            $('#srch-edit-mb-only').click(function(){
              $('#seo-city-mort-mb').hide();
              $('#seo-city-mort-desktop').show();
            });
            $('#para-see-more-link').click(function(){
              $('#para-see-more-link').hide();
              $('.mb-hide-para, #para-see-less-link').show();
            });
            $('#para-see-less-link').click(function(){
              $('#para-see-less-link, .mb-hide-para').hide();
              $('#para-see-more-link').show();
            });
            $('.section-lft-srch-drpdwn-icn').click(function(){
              $('.header-main').addClass("black-head");
            });
            $('#srch-edit-mb-only').click(function(){
              $('.header-main').removeClass("black-head");
            });
            }); 
  
  // section for web view
  $("#desktop_news_data").click(function(){
    <%(5..9).each do |i|%>
      $("#news_articles_data_<%=i.to_s%>").toggle();
    <%end%>
     $("#desktop_news_data").hide();
  });

  $("#mobile_news_data").click(function(){
  //section for mobile view 
     <%(3..9).each do |i|%>
      $("#mobile_news_articles_data_<%=i.to_s%>").toggle();
    <%end%>
    $("#mobile_news_data").hide();
  })
  $(".initial-section").click(function(){
    $("#bank_details").addClass('show-box');
  $(".initial-section").hide();
  })

  $("#fdic_mobile_data_section_btn").click(function(){
    $("#fdic_mobile_data_section").removeClass("mb-hide")
  $("#fdic_mobile_data_section_btn").hide();
  })
</script>