   <!-- banner search start-->
 <section class="banner search-result-banner" data-spy = "affix" data-offset-top = "80" data-offset-bottom = "200">
    <div class="container">
       <!-- banner main search start-->       
       <div class="search-main adv-search-mb" id="seo-city-mort-desktop">
          <div class="search-cat zip-srch">
             <label>Zip Code</label>
             <input type="text" placeholder="123456">
          </div>
          <div class="search-cat purpse-srch">
             <label>Purpose</label>
             <select>
                <option>Purchase</option>
             </select>
          </div>
          <div class="search-cat price-srch">
             <label>Home Price</label>
             <div class="dollar-icn">$</div>
             <input type="text" placeholder="123456">
          </div>
          <div class="search-cat price-srch">
             <label>Down Payment</label>
             <div class="dollar-icn">$</div>
             <input type="text" placeholder="123456">
          </div>
          <div class="search-cat cr-srch">
             <label>Credit Score</label>
             <select>
                <option>750+</option>
             </select>
          </div>
          <button class="rates-btn">Get Rates</button>
       </div>
       <div class="search-main adv-search-mb" id="seo-city-mort-mb">
          <div class="section-lft-srch-drpdwn-icn" id="srch-edit-mb-only">
             <i class="fa fa-pencil"></i>
          </div>
          <div class="section-lft-srch-price-alert">
            <a data-toggle="modal" data-target="#create-price-alert" href="">
             <img src="/assets/mobile/mail4_03.png" alt=""></br>
             Price Alert
            </a>
          </div>
          <div class="section-lft-srch-drpdwn-icn">
             <i class="fa fa-angle-double-down"></i>
          </div>
          <div class="section-lft-srch">
             <p>$500,00 Home Purchase <span>in  94043</span></p>
             <p>$100,00 Down <span>750 +</span></p>
          </div>
       </div>
       <!-- banner main search end-->
    </div>
    <div class="srch-results-adv-srch inner-mb-changes">
       <div class="container">
          <!-- advance search start-->
          <div class="search-adv-option-box">
             <a href="javascript:void(0);" id="adv-option" class="desktop-btn"><i class="fa fa-angle-double-down"></i> Advanced Options</a>
             <a href="" data-toggle="modal" data-target="#advance-srch-mb" class="mb-btn"><i class="fa fa-angle-double-down"></i> Advanced Options</a>
             <a data-toggle="modal" data-target="#create-price-alert" href="" class="price-alert-btn"><i class="fa fa-envelope"></i> Create Price Alert</a>
             <div class="search-adv-option" id="search-adv-option-inner">
                <div class="row">
                   <h4>desired loan programs?</h4>
                   <div class="col-xs-12 col-md-2 advance-check">
                      <div class="form-group"><input type="checkbox" value=""> 30 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 20 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 15 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 10 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 7/1 Arm</div>
                      <div class="form-group"><input type="checkbox" value=""> 5/1 Arm</div>
                      <div class="form-group"><input type="checkbox" value=""> 3/1 Arm</div>
                   </div>
                   <div class="col-xs-12 col-md-3 drpdown-box">
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                   </div>
                   <div class="col-xs-12 col-md-4 drpdown-box">
                      <select>
                         <option>Select Prepay Penalty</option>
                      </select>
                      <label>Cash Reserves (mos)</label>
                      <select>
                         <option>$ 15</option>
                      </select>
                      <label>Monthly Debt</label>
                      <select>
                         <option>$ 0</option>
                      </select>
                      <label>Monthly Income</label>
                      <select>
                         <option>$ 5,000</option>
                      </select>
                   </div>
                   <div class="col-xs-12 col-md-3 advance-check">
                      <p>Owned Properties <span>01</span></p>
                      <div class="form-group"><input type="checkbox" value=""> Interest Only</div>
                      <div class="form-group"><input type="checkbox" value=""> Hazard Insuarance Waived</div>
                      <div class="form-group"><input type="checkbox" value=""> Property Taxes Waived</div>
                      <div class="form-group"><input type="checkbox" value=""> First Time Home Buyer</div>
                      <div class="form-group"><input type="checkbox" value=""> Non Perm Resident Alien</div>
                      <div class="form-group"><input type="checkbox" value=""> Foreign National</div>
                      <div class="form-group"><input type="checkbox" value=""> Miltary</div>
                      <div class="form-group"><input type="checkbox" value=""> Rular</div>
                   </div>
                   <div class="col-xs-12 col-md-3 menu-up-adv-search"><a href=""><img src="/assets/menu-up-white.png" alt=""/></a></div>
                </div>
             </div>
          </div>
          <!-- advance search end-->
       </div>
    </div>
 </section>
 <!-- banner search end-->
 <!-- search result feed start-->     
 <section class="content-main seo-cities-mortgage">
    <div class="container">
       <!--Bank of America Mortgage Overview start-->
       <div class="seo-auto-loan-cntnt-box mb-bg-gray seo-loan-cntnt-box-chnge">
          <div class="col-xs-12 col-md-8 our-story-cntnt">
             <div class="gray-box-cntnt" id="bank_content">
                <h3><%=@bank.name%> Mortgage Overview</h3>
                <p>The mortgage and refinance department of <%=@bank.name%> primarily focuses on residential mortgages, which includes privately issued residential mortgage-backed securities, US government agency and corporation issued obligations or guaranteed certification of participation in pools of residential mortgages, and mortgage-backed pass-through securities held-to-maturity at amoritized cost and available-for-sale at fair value.</p>
                <p>The total amount of outstanding residential mortgages is <%=@security.present? ? number_to_currency(@security.idscod, precision: 0) : '$0'%> and total amount of outstanding commercial mortgages is <%=@security.present? ? number_to_currency(@security.sccmmb, precision: 0) : '$0'%> .</p>
                <span href="" id="para-see-more-link">See More</span>
             </div>
          </div>
          <div class="col-xs-12 col-md-4 seo-bank-cntn-white-bg seo-bank-cntn-top-white-bg" id="bank_details">
             <h3><%=@bank.name%></h3>
             <p>Founded  <%=@bank.estymd.to_date.strftime("%B %d, %Y")%></br>
                FDIC Certificate Number - <%=@bank.cert%></br>
                <%=@bank.address+', '+@bank.city+', '+@bank.stname%>
             </p>
             <p class="seo-bank-cntn-white-bg-info"><span>Total Asset:</span> <%=number_to_currency(@bank.asset, precision: 0)%></p>
             <p class="seo-bank-cntn-white-bg-info"><span>Total Deposits:</span> <%=number_to_currency(@bank.dep, precision: 0)%></p>
          </div>
       </div>
       <!--Bank of America Mortgage Overview end-->
       <p class="top-txt-info">Each Loan Type Sorted By  
          <a href="" data-toggle="modal" data-target="#login-popup-nw" class="">APR</a>
       </p>
       <!--30 Years feed start-->
       <div class="cntnt-list-box">
          <h5>30-Year Fixed Rates Customized for March24</h5>
          <div class="cntnt-list-inner gray-bg col-md-12">
             <div class="inner-logo"><img src="/assets/pic1_06.png" alt="">
        <a href=""><%=@bank.name%></a>
        <p>NMLS ID 54645</p>
        </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
          <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="/assets/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
        <div class="mb-scroll-icn">
        <a href=""><i class="fa fa-angle-right"></i></a>
        </div>
          </div>
          <div class="cntnt-list-inner col-md-12">
             <div class="inner-logo"><img src="/assets/pic2_03.png" alt="">
        <a href=""><%=@bank.name%></a>
        <p>NMLS ID 54645</p>
        </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
          <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="/assets/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
        <div class="mb-scroll-icn">
        <a href=""><i class="fa fa-angle-right"></i></a>
        </div>
          </div>
          <div class="cntnt-list-inner gray-bg col-md-12">
             <div class="inner-logo"><img src="/assets/pic3_07.png" alt="">
        <a href=""><%=@bank.name%></a>
        <p>NMLS ID 54645</p>
        </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
          <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="/assets/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
        <div class="mb-scroll-icn">
        <a href=""><i class="fa fa-angle-right"></i></a>
        </div>
          </div>
       </div>
                      
       <div class="cntnt-list-box">
          <h5>15-Years Fixed Rates Customized for March24</h5>
          <div class="cntnt-list-inner gray-bg col-md-12">
             <div class="inner-logo"><img src="/assets/pic1_06.png" alt="">
        <a href=""><%=@bank.name%></a>
        <p>NMLS ID 54645</p>
        </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
          <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="/assets/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
        <div class="mb-scroll-icn">
        <a href=""><i class="fa fa-angle-right"></i></a>
        </div>
          </div>
          <div class="cntnt-list-inner col-md-12">
             <div class="inner-logo"><img src="/assets/pic2_03.png" alt="">
        <a href=""><%=@bank.name%></a>
        <p>NMLS ID 54645</p>
        </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
          <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="/assets/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
        <div class="mb-scroll-icn">
        <a href=""><i class="fa fa-angle-right"></i></a>
        </div>
          </div>
          <div class="cntnt-list-inner gray-bg col-md-12">
             <div class="inner-logo"><img src="/assets/pic3_07.png" alt="">
        <a href=""><%=@bank.name%></a>
        <p>NMLS ID 54645</p>
        </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
          <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="/assets/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
        <div class="mb-scroll-icn">
        <a href=""><i class="fa fa-angle-right"></i></a>
        </div>
          </div>
       </div>

       <!-- Bank of America Mortgage Rates Comparision start-->
       <div class="row">
          <div class="col-xs-12 col-md-12">
             <div class="loan-detail-blocks">
                <h3><%=@bank.name%> Mortgage Rates Comparision</h3>
                <p class="space-top">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here making it look like readable English.</p>
                <div class="graph-box">
                   <img src="/assets/seo-city-mortgage-graph2.png" alt="">
                   <img src="/assets/seo-city-mortgage-graph2.png" alt="">
                   <img src="/assets/seo-city-mortgage-graph2.png" alt="">
                   <p class="para-lft-inner">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                   <a href="" class="see-more-link-common">See More Cost Breakdown</a>
                </div>
             </div>
          </div>
       </div>
       <!-- Bank of America Mortgage Rates Comparision end-->
       <!-- Home Loan Breakdown start-->
       <div class="row">
          <div class="col-xs-12 col-md-12 seo-bank-table-graph">
             <div class="loan-detail-blocks volume-auto-loan home-loan-breakdown">
                <h3><%=@bank.name%> Home Loan Breakdown</h3>
                <div class="row">
                   <div class="col-xs-12 col-md-7">
                      <div class="volume-auto-loan-row bg-white">
                         <p class="vol-row-inner"><strong>Mortgage Classification</strong> </p>
                         <span> <strong>Total Value</strong></span>
                      </div>
                      <div class="volume-auto-loan-row">
                         <p class="vol-row-inner">Privately issued residential mortgage-backed securities
                         </p>
                         <span> <%=@security.present? ? number_to_currency(@security.idscod, precision: 0) : '$0'%></span>
                      </div>
                      <div class="volume-auto-loan-row bg-white">
                         <p class="vol-row-inner">Commercial mortgage-backed securities - Total
                         </p>
                         <span> <%=@security.present? ? number_to_currency(@security.sccmmb, precision: 0) : '$0'%></span>
                      </div>
                      <div class="volume-auto-loan-row">
                         <p class="vol-row-inner">Mortgage-backed securities
                         </p>
                         <span> <%=@security.present? ? number_to_currency(@security.scmtgbk, precision: 0) : '$0'%></span>
                      </div>
                      <div class="volume-auto-loan-row bg-white">
                         <p class="vol-row-inner">Certificates of participation in pools of residential mortgages
                         </p>
                         <span> <%=@security.present? ? number_to_currency(@security.idscgtpc, precision: 0) : '$0'%></span>
                      </div>
                      <div class="volume-auto-loan-row">
                         <p class="vol-row-inner">Collaterized mortgage obligations
                         </p>
                         <span> <%=@security.present? ? number_to_currency(@security.idsccmo, precision: 0) : '$0'%></span>
                      </div>
                      <div class="volume-auto-loan-row bg-white">
                         <p class="vol-row-inner">Commercial mortgage-backed securities

                         </p>
                         <span> <%=@security.present? ? number_to_currency(@security.idsccmt, precision: 0) : '$0'%></span>
                      </div>
                      <div class="volume-auto-loan-row">
                         <p class="vol-row-inner">Commercial mortgage pass-through securities
                         </p>
                         <span> <%=@security.present? ? number_to_currency(@security.sccmpt, precision: 0) : '$0'%></span>
                      </div>
                      <div class="volume-auto-loan-row bg-white">
                         <p class="vol-row-inner">Other commercial mortgage-backed securities
                         </p>
                         <span> <%=@security.present? ? number_to_currency(@security.sccmot, precision: 0) : '$0'%></span>
                      </div>
                      <div class="volume-auto-loan-row">
                         <p class="vol-row-inner">Commercial mortgage pass-through securities – FNMA, FHLMC, or GNMA
                         </p>
                         <span> <%=@us_govt_obl.present? ? number_to_currency(@us_govt_obl.sccptg, precision: 0) : '$0'%></span>
                      </div>

                      <div class="volume-auto-loan-row bg-white">
                         <p class="vol-row-inner">Mortgage servicing assets
                         </p>
                         <span> <%=@good_will.present? ? number_to_currency(@good_will.intanmsr, precision: 0) : '$0'%></span>
                      </div>
                      <div class="volume-auto-loan-row">
                         <p class="vol-row-inner">Mortgage-backed securitiesPurchased credit card relationships and nonmortgage servicing assets
                         </p>
                         <span> <%=@good_will.present? ? number_to_currency(@good_will.intangcc, precision: 0) : '$0'%></span>
                      </div>
                      <div class="volume-auto-loan-row bg-white">
                         <p class="vol-row-inner">Real Estate Mortgages, managed personal trust & agency accts, etc..
                         </p>
                         <span> <%=@managed_assets.present? ? @managed_assets.tpiremtg.present? ? number_to_currency(@managed_assets.tpiremtg, precision: 0) : '$0' : '$0'%></span>
                      </div>
                      <div class="volume-auto-loan-row">
                         <p class="vol-row-inner">Real estate mortgages,managed emp benft & retire-related trust accnts
                         </p>
                         <span> <%=@managed_assets.present? ? @managed_assets.teremtg.present? ? number_to_currency(@managed_assets.teremtg, precision: 0) : '$0' : '$0'%></span>
                      </div>
                      <div class="volume-auto-loan-row bg-white">
                         <p class="vol-row-inner">Real Estate Mortgages, all other managed accounts

                         </p>
                         <span> <%=@managed_assets.present? ? @managed_assets.toremtg.present? ? number_to_currency(@managed_assets.toremtg, precision: 0) : '$0' : '$0'%></span>
                      </div>

                      <a class="link-right-inner">Data produced  from US Government reported financials</a>
                   </div>
                   <div class="col-xs-12 col-md-5">
                      <p><%=@bank.name%> lends out a total of <%=@net_loan_and_leases.present? ?  number_to_currency(@net_loan_and_leases.lnlsgr, precision: 0) : '$0'%> annually. Of this loan volume, <%=@bank.name%> home mortgages are <%= @net_loan_and_leases.present? ? number_to_currency(@net_loan_and_leases.lnre, precision: 0) : '$0' %>. As a result, <%=@bank.name%> home loans represent <%= mortgage_loan_per_calculation(@net_loan_and_leases)%>% of the total lending of <%=@bank.name%>.</p>
                      <!-- <img src="/assets/seo-bank-mortgage-graph1.png" alt=""> -->
                   </div>
                    <div class="col-xs-12 col-md-5" id="piechart"></div>
                </div>
                <div class="graph-box">
                   <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</p>
                </div>
                <a href="" class="see-more-link-common">See More Reported Financials</a>
             </div>
          </div>
       </div>
       <!-- Home Loan Breakdown end-->
       
       <!-- Home Equity Loan Officers start-->
       <div class="seo-auto-loan-tabs loan-detail-blocks">
          <h3><%=@bank.name%> Home Equity Loan Officers</h3>
          <!--Used Car Loans desktop section end-->
          <div class="tabs-data-main desktop-tabs-data">
             <div class="tabs-data-hdng">
                <div class="col-xs-12 col-md-6">Name</div>
                <div class="col-xs-12 col-md-6">Contact</div>
             </div>
                <%if @loan_officers.present?%>
                  <%@loan_officers.each do |loan_officer|%>
                    <div class="tabs-data-row">
                      <div class="col-xs-12 col-md-6">                          
                          <p><%= remove_unnecessary_keywords(loan_officer.try(:first))%> <%=remove_unnecessary_keywords(loan_officer.try(:last))%></p>
                          <p><%= remove_unnecessary_keywords(loan_officer.title)%></p>
                      </div>
                      <div class="col-xs-12 col-md-6">
                          <p><%= loan_officer.phone1.present? ? remove_unnecessary_keywords(loan_officer.phone1) : remove_unnecessary_keywords(loan_officer.phone2)%></p>
                          <p><%= remove_unnecessary_keywords(loan_officer.email)%></p>
                      </div>
                    </div>  
                  <%end%>
                <%else%>
                    <div class="tabs-data-row">
                      No Records Found
                    </div>
                <%end%>          
          </div>

          <!--Used Car Loans Officers mobile tabs end-->
          <div class="tabs-data-main tabs-accordians-box">
             <div class="panel-group">
                <div class="panel panel-default">
                   <div class="panel-heading tabs-data-hdng">
                      <a class="accordion-toggle" data-toggle="collapse" href="#collapse1">Integrity Home Margooge<br>
                      George Makrides<br>
                      Martgoge Loan Origiotor</a>
                   </div>
                   <div id="collapse1" class="panel-collapse collapse">
                      <div class="tabs-data-row">
                         <div class="col-xs-12 col-md-12">
                            <h5>Address</h5>
                            <p>5300 Westview Dr ste 108</p>
                            <p>Frederick MD</p>
                         </div>
                         <div class="col-xs-12 col-md-12">
                            <h5>Contact</h5>
                            <p>Ph   (301) 639-0804</p>
                            <p>Fax  (301) 639-0804</p>
                            <p>adfdgdsg@personal.com</p>
                            <p><a href="">Link to stie</a><p>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="panel panel-default">
                   <div class="panel-heading tabs-data-hdng"> 
                      <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse2" aria-expanded="false">Integrity Home Margooge<br>
                      George Makrides<br>
                      Martgoge Loan Origiotor</a>
                   </div>
                   <div id="collapse2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                      <div class="tabs-data-row">
                         <div class="col-xs-12 col-md-12">
                            <h5>Address</h5>
                            <p>5300 Westview Dr ste 108</p>
                            <p>Frederick MD</p>
                         </div>
                         <div class="col-xs-12 col-md-12">
                            <h5>Contact</h5>
                            <p>Ph   (301) 639-0804</p>
                            <p>Fax  (301) 639-0804</p>
                            <p>adfdgdsg@personal.com</p>
                            <a href="">Link to stie</a>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="panel panel-default">
                   <div class="panel-heading tabs-data-hdng"> 
                      <a class="accordion-toggle" data-toggle="collapse" href="#collapse3">Integrity Home Margooge<br>
                      George Makrides<br>
                      Martgoge Loan Origiotor</a>
                   </div>
                   <div id="collapse3" class="panel-collapse collapse">
                      <div class="tabs-data-row">
                         <div class="col-xs-12 col-md-12">
                            <h5>Address</h5>
                            <p>5300 Westview Dr ste 108</p>
                            <p>Frederick MD</p>
                         </div>
                         <div class="col-xs-12 col-md-12">
                            <h5>Contact</h5>
                            <p>Ph   (301) 639-0804</p>
                            <p>Fax  (301) 639-0804</p>
                            <p>adfdgdsg@personal.com</p>
                            <a href="">Link to stie</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <a href="" class="show-all-specialst-btn blue_button">Show all Morgage Specialists</a>
       </div>
       <!-- Home Equity Loan Officers end-->
       <!-- News on Bank of America start-->
       <div class="volume-auto-loan full-width loan-detail-blocks">
          <h3>News on <%=@bank.name%> Mortgages and Home Loans</h3>
            <%if @news_articles.present?%>
              <%@news_articles.each do |na|%>
                <div class="car-auto-loan-news">
                   <h6><%=link_to na.headline.truncate(50), na.url, target: "_blank"%></h6>
                   <h6>
                      <p><%=na.text.truncate(200)%>,  <%=link_to "more info", na.url, target: "_blank"%></p>
                   </h6>

                </div>
              <%end%>
            <%else%>
              <div class="car-auto-loan-news">
                  No Records Found
              </div>
            <%end%>
          <a href="" class="see-more-link-common">See More Reported Financials</a>
       </div>
       <!-- News on Bank of America end-->
       <!-- Loans from Similar Bank start-->
       <div class="volume-auto-loan full-width loan-detail-blocks car-auto-loan-othr-bank-box">
          <h3 class="tab_blue_content">Mortgage and Home Loans from Bank Similar to <%=@bank.name%></h3>
          <div class="car-auto-loan-othr-bank">
             <%if @near_by_banks.present?%>
             <%@near_by_banks.each do |nbb|%>
              <%=link_to nbb.name, bank_home_mortgage_loan_path(cert: nbb.cert,bank_name: custom_path(nbb.name)) %>
              <%end%>
             <%else%>
             No Records Found
             <%end%> 
          </div>
       </div>
       <!-- Loans from Similar Bank end-->
    </div>
 </section>
<!-- search result feed end-->  
<!-- common popup start-->
 <div class="modal fade common-popup-layout" id="create-price-alert" role="dialog">
    <div class="modal-dialog">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal"><img src="/assets/cancel_03.png" alt="" class="login-cross-img"></button>
             <h4><b>Create a Price Alert to obtain lowest Mortgage</b></br> 
                Rates and Save even more!
             </h4>
          </div>
          <div class="modal-body">
             <input type="text" placeholder="Enter your Email">
             <input type="text" placeholder="Password">
             <button class="rates-btn">Log In</button>
             <div class="forgot-signup-links">
                <a href="">Forgot Password,</a> or 
                <a href="" data-toggle="modal" data-target="#signup-popup" class="signup-link-clr">Sign up Now</a>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- common popup end-->


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Loans', 'Percentage'],
  ['Mortgage Loans', <%= @net_loan_and_leases.present? ? @net_loan_and_leases.lnre.to_f : 0%>],
  ['Personal Loans', <%= @net_loan_and_leases.try(:lnauto) == nil ? 0 : @net_loan_and_leases.lnauto %>],
  ['Auto Loans', <%= @net_loan_and_leases.try(:lnauto) == nil  ? 0 : @net_loan_and_leases.lnauto*0.58%>],
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':' ', 'width': 500, 'height': 350};
  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>
