   <!-- banner search start-->
 <section class="banner search-result-banner" data-spy = "affix" data-offset-top = "80" data-offset-bottom = "200">
    <div class="container">
       <!-- banner main search start-->       
       <div class="search-main adv-search-mb" id="seo-city-mort-desktop">
          <div class="search-cat zip-srch">
             <label>Zip Code</label>
             <input type="text" placeholder="123456">
          </div>
          <div class="search-cat purpse-srch">
             <label>Purpose</label>
             <select>
                <option>Purchase</option>
             </select>
          </div>
          <div class="search-cat price-srch">
             <label>Home Price</label>
             <div class="dollar-icn">$</div>
             <input type="text" placeholder="123456">
          </div>
          <div class="search-cat price-srch">
             <label>Down Payment</label>
             <div class="dollar-icn">$</div>
             <input type="text" placeholder="123456">
          </div>
          <div class="search-cat cr-srch">
             <label>Credit Score</label>
             <select>
                <option>750+</option>
             </select>
          </div>
          <button class="rates-btn">Get Rates</button>
       </div>
       <div class="search-main adv-search-mb" id="seo-city-mort-mb">
          <div class="section-lft-srch-drpdwn-icn" id="srch-edit-mb-only">
             <i class="fa fa-pencil"></i>
          </div>
          <div class="section-lft-srch-price-alert">
             <img src="images/mobile/mail4_03.png" alt=""></br>
             Price Alert
          </div>
          <div class="section-lft-srch-drpdwn-icn">
             <i class="fa fa-angle-double-down"></i>
          </div>
          <div class="section-lft-srch">
             <p>$500,00 Home Purchase <span>in  94043</span></p>
             <p>$100,00 Down <span>750 +</span></p>
          </div>
       </div>
       <!-- banner main search end-->
    </div>
    <div class="srch-results-adv-srch inner-mb-changes">
       <div class="container">
          <!-- advance search start-->
          <div class="search-adv-option-box">
             <a href="javascript:void(0);" id="adv-option" class="desktop-btn"><i class="fa fa-angle-double-down"></i> Advanced Options</a>
             <a href="" data-toggle="modal" data-target="#advance-srch-mb" class="mb-btn"><i class="fa fa-angle-double-down"></i> Advanced Options</a>
             <a data-toggle="modal" data-target="#create-price-alert" href="" class="price-alert-btn"><i class="fa fa-envelope"></i> Create Price Alert</a>
             <div class="search-adv-option" id="search-adv-option-inner">
                <div class="row">
                   <h4>desired loan programs?</h4>
                   <div class="col-xs-12 col-md-2 advance-check">
                      <div class="form-group"><input type="checkbox" value=""> 30 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 20 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 15 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 10 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 7/1 Arm</div>
                      <div class="form-group"><input type="checkbox" value=""> 5/1 Arm</div>
                      <div class="form-group"><input type="checkbox" value=""> 3/1 Arm</div>
                   </div>
                   <div class="col-xs-12 col-md-3 drpdown-box">
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                   </div>
                   <div class="col-xs-12 col-md-4 drpdown-box">
                      <select>
                         <option>Select Prepay Penalty</option>
                      </select>
                      <label>Cash Reserves (mos)</label>
                      <select>
                         <option>$ 15</option>
                      </select>
                      <label>Monthly Debt</label>
                      <select>
                         <option>$ 0</option>
                      </select>
                      <label>Monthly Income</label>
                      <select>
                         <option>$ 5,000</option>
                      </select>
                   </div>
                   <div class="col-xs-12 col-md-3 advance-check">
                      <p>Owned Properties <span>01</span></p>
                      <div class="form-group"><input type="checkbox" value=""> Interest Only</div>
                      <div class="form-group"><input type="checkbox" value=""> Hazard Insuarance Waived</div>
                      <div class="form-group"><input type="checkbox" value=""> Property Taxes Waived</div>
                      <div class="form-group"><input type="checkbox" value=""> First Time Home Buyer</div>
                      <div class="form-group"><input type="checkbox" value=""> Non Perm Resident Alien</div>
                      <div class="form-group"><input type="checkbox" value=""> Foreign National</div>
                      <div class="form-group"><input type="checkbox" value=""> Miltary</div>
                      <div class="form-group"><input type="checkbox" value=""> Rular</div>
                   </div>
                   <div class="col-xs-12 col-md-3 menu-up-adv-search"><a href=""><img src="images/menu-up-white.png" alt=""/></a></div>
                </div>
             </div>
          </div>
          <!-- advance search end-->
       </div>
    </div>
 </section>
 <!-- banner search end-->
 <!-- search result feed start-->     
 <section class="content-main seo-cities-mortgage">
    <div class="container">
       <!--Bank of America Mortgage Overview start-->
       <div class="seo-auto-loan-cntnt-box mb-bg-gray">
          <div class="col-xs-12 col-md-8 our-story-cntnt">
             <div class="gray-box-cntnt">
                <h3><%=@bank.name%> Mortgage Overview</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's sta ndard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop.</p>
                <span href="" id="para-see-more-link">See More</span>
             </div>
          </div>
          <div class="col-xs-12 col-md-4 seo-bank-cntn-white-bg seo-bank-cntn-top-white-bg">
             <h3><%=@bank.name%></h3>
             <p>Founded  <%=@bank.estymd.to_date.strftime("%B %d, %Y")%></br>
                FDIC Certificate Number - <%=@bank.cert%></br>
                <%=@bank.address+', '+@bank.city+', '+@bank.stname%>
             </p>
             <!-- <p>123 Main St, Charlotte, North Carolina<br>
                <a href="">www.bankofamerica.com</a>
             </p> -->
             <p class="seo-bank-cntn-white-bg-info"><span>Total Asset:</span> $142,634,784</p>
             <p class="seo-bank-cntn-white-bg-info"><span>Total Liabilites:</span> $142,634,784</p>
             <!-- <p class="seo-bank-cntn-white-bg-info"><span>Total Equity:</span> $142,64 784</p> -->
          </div>
       </div>
       <!--Bank of America Mortgage Overview end-->
       <p class="top-txt-info">Each Loan Type Sorted By  
          <a href="" data-toggle="modal" data-target="#login-popup-nw" class="">APR</a>
       </p>
       <!--30 Years feed start-->
       <div class="cntnt-list-box">
          <h5>30-Year Fixed Rates Customized for March24</h5>
          <div class="cntnt-list-inner gray-bg col-md-12">
             <div class="inner-logo"><img src="images/pic1_06.png" alt="">
        <a href="">Bank of America</a>
        <p>NMLS ID 54645</p>
        </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
          <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="images/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
        <div class="mb-scroll-icn">
        <a href=""><i class="fa fa-angle-right"></i></a>
        </div>
          </div>
          <div class="cntnt-list-inner col-md-12">
             <div class="inner-logo"><img src="images/pic2_03.png" alt="">
        <a href="">Bank of America</a>
        <p>NMLS ID 54645</p>
        </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
          <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="images/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
        <div class="mb-scroll-icn">
        <a href=""><i class="fa fa-angle-right"></i></a>
        </div>
          </div>
          <div class="cntnt-list-inner gray-bg col-md-12">
             <div class="inner-logo"><img src="images/pic3_07.png" alt="">
        <a href="">Bank of America</a>
        <p>NMLS ID 54645</p>
        </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
          <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="images/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
        <div class="mb-scroll-icn">
        <a href=""><i class="fa fa-angle-right"></i></a>
        </div>
          </div>
       </div>
                      
       <div class="cntnt-list-box">
          <h5>15-Years Fixed Rates Customized for March24</h5>
          <div class="cntnt-list-inner gray-bg col-md-12">
             <div class="inner-logo"><img src="images/pic1_06.png" alt="">
        <a href="">Bank of America</a>
        <p>NMLS ID 54645</p>
        </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
          <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="images/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
        <div class="mb-scroll-icn">
        <a href=""><i class="fa fa-angle-right"></i></a>
        </div>
          </div>
          <div class="cntnt-list-inner col-md-12">
             <div class="inner-logo"><img src="images/pic2_03.png" alt="">
        <a href="">Bank of America</a>
        <p>NMLS ID 54645</p>
        </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
          <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="images/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
        <div class="mb-scroll-icn">
        <a href=""><i class="fa fa-angle-right"></i></a>
        </div>
          </div>
          <div class="cntnt-list-inner gray-bg col-md-12">
             <div class="inner-logo"><img src="images/pic3_07.png" alt="">
        <a href="">Bank of America</a>
        <p>NMLS ID 54645</p>
        </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
          <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
        <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="images/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
        <div class="mb-scroll-icn">
        <a href=""><i class="fa fa-angle-right"></i></a>
        </div>
          </div>
       </div>


       <!-- Bank of America Mortgage Rates Comparision start-->
       <div class="row">
          <div class="col-xs-12 col-md-12">
             <div class="loan-detail-blocks">
                <h3>Bank of America Mortgage Rates Comparision</h3>
                <p class="space-top">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here making it look like readable English.</p>
                <div class="graph-box">
                   <img src="images/seo-city-mortgage-graph2.png" alt="">
                   <img src="images/seo-city-mortgage-graph2.png" alt="">
                   <img src="images/seo-city-mortgage-graph2.png" alt="">
                   <p class="para-lft-inner">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                   <a href="" class="see-more-link-common">See More Cost Breakdown</a>
                </div>
             </div>
          </div>
       </div>
       <!-- Bank of America Mortgage Rates Comparision end-->
       <!-- Home Loan Breakdown start-->
       <div class="row">
          <div class="col-xs-12 col-md-12 seo-bank-table-graph">
             <div class="loan-detail-blocks volume-auto-loan home-loan-breakdown">
                <h3>Bank of America Home Loan Breakdown</h3>
                <div class="row">
                   <div class="col-xs-12 col-md-7">
                      <div class="volume-auto-loan-row bg-white">
                         <p class="vol-row-inner"><strong>Mortgage Classification</strong> </p>
                         <span> <strong>Total Value</strong></span>
                      </div>
                      <div class="volume-auto-loan-row">
                         <p class="vol-row-inner">Privately issued residential mortgage-backed securities
                            1# mortgage index 1#1
                         </p>
                         <span>$ 1,23,4556</span>
                      </div>
                      <div class="volume-auto-loan-row bg-white">
                         <p class="vol-row-inner">Certificates of participation in pools of residential mortgage
                            1#mortgage index 4#1
                         </p>
                         <span>$ 1,023,4556</span>
                      </div>
                      <div class="volume-auto-loan-row">
                         <p class="vol-row-inner">Privately issued residential mortgage-backed securities
                            1# mortgage index 1#1
                         </p>
                         <span>$ 1,23,4556</span>
                      </div>
               <div class="volume-auto-loan-row bg-white">
                         <p class="vol-row-inner">Privately issued residential mortgage-backed securities
                            1# mortgage index 1#1
                         </p>
                         <span>$ 1,023,4556</span>
                      </div>
                      <div class="volume-auto-loan-row">
                         <p class="vol-row-inner">Certificates of participation in pools of residential mortgage
                            1#mortgage index 4#1
                         </p>
                         <span>$ 1,23,4556</span>
                      </div>
                      <div class="volume-auto-loan-row bg-white">
                         <p class="vol-row-inner">Privately issued residential mortgage-backed securities
                            1# mortgage index 1#1
                         </p>
                         <span>$ 1,023,4556</span>
                      </div>
                      <div class="volume-auto-loan-row">
                         <p class="vol-row-inner">Certificates of participation in pools of residential mortgage
                            1#mortgage index 4#1
                         </p>
                         <span>$ 1,23,4556</span>
                      </div>
                      <a class="link-right-inner">Data produced  from US Government reported financials</a>
                   </div>
                   <div class="col-xs-12 col-md-5">
                      <p>accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                      <img src="images/seo-bank-mortgage-graph1.png" alt="">
                   </div>
                </div>
                <div class="graph-box">
                   <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</p>
                </div>
                <a href="" class="see-more-link-common">See More Reported Financials</a>
             </div>
          </div>
       </div>
       <!-- Home Loan Breakdown end-->
       <!-- Home Equity Loan Officers start-->
       <div class="seo-auto-loan-tabs loan-detail-blocks">
          <h3><%=@bank.name%> Home Equity Loan Officers</h3>
          <!--Used Car Loans desktop section end-->
          <div class="tabs-data-main desktop-tabs-data">
             <div class="tabs-data-hdng">
                <div class="col-xs-12 col-md-4">Name</div>
                <div class="col-xs-12 col-md-4">Address</div>
                <div class="col-xs-12 col-md-4">Contact</div>
             </div>
             <div class="tabs-data-row">
                <!-- <div class="col-xs-12 col-md-4">
                   <p>Integrity Home Margooge</p>
                   <p>George Makrides</p>
                   <p>Martgoge Loan Origiotor</p>
                </div>
                <div class="col-xs-12 col-md-4">
                   <p>5300 Westview Dr ste 108</p>
                   <p>Frederick MD</p>
                </div>
                <div class="col-xs-12 col-md-4">
                   <p>Ph   (301) 639-0804</p>
                   <p>Fax  (301) 639-0804</p>
                   <p>adfdgdsg@personal.com</p>
                   <p><a href="">Link to stie</a></p>
                </div>
             </div>
             <div class="tabs-data-row gray-row">
                <div class="col-xs-12 col-md-4">
                   <p>Integrity Home Margooge</p>
                   <p>George Makrides</p>
                   <p>Martgoge Loan Origiotor</p>
                </div>
                <div class="col-xs-12 col-md-4">
                   <p>5300 Westview Dr ste 108</p>
                   <p>Frederick MD</p>
                </div>
                <div class="col-xs-12 col-md-4">
                   <p>Ph   (301) 639-0804</p>
                   <p>Fax  (301) 639-0804</p>
                   <p>adfdgdsg@personal.com</p>
                   <p><a href="">Link to stie</a></p>
                </div> -->
                <%@loan_officers.each do |loan_officer|%>
                  <div class="tabs-data-row">
                    <div class="col-xs-12 col-md-4">
                        <p> <%= loan_officer.company%></p>
                        <p><%= loan_officer.first+' '+ loan_officer.try(:last)%></p>
                        <p><%= loan_officer.title%></p>
                    </div>
                    <div class="col-xs-12 col-md-4 ">
                        <p><%= loan_officer.address%></p>
                        <p><%= loan_officer.city%></p>
                        <p><%= loan_officer.state%></p>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <p><%= loan_officer.phone1%></p>
                        <p><%= loan_officer.email%></p>
                        <p><%=link_to 'link_to_site', loan_officer.website, target: '_blank'%></p>
                    </div>
                  </div>  
                <%end%>        
             </div>
          </div>
          <!--Used Car Loans Officers mobile tabs end-->
          <div class="tabs-data-main tabs-accordians-box">
             <div class="panel-group">
                <div class="panel panel-default">
                   <div class="panel-heading tabs-data-hdng">
                      <a class="accordion-toggle" data-toggle="collapse" href="#collapse1">Integrity Home Margooge<br>
                      George Makrides<br>
                      Martgoge Loan Origiotor</a>
                   </div>
                   <div id="collapse1" class="panel-collapse collapse">
                      <div class="tabs-data-row">
                         <div class="col-xs-12 col-md-12">
                            <h5>Address</h5>
                            <p>5300 Westview Dr ste 108</p>
                            <p>Frederick MD</p>
                         </div>
                         <div class="col-xs-12 col-md-12">
                            <h5>Contact</h5>
                            <p>Ph   (301) 639-0804</p>
                            <p>Fax  (301) 639-0804</p>
                            <p>adfdgdsg@personal.com</p>
                            <p><a href="">Link to stie</a><p>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="panel panel-default">
                   <div class="panel-heading tabs-data-hdng"> 
                      <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse2" aria-expanded="false">Integrity Home Margooge<br>
                      George Makrides<br>
                      Martgoge Loan Origiotor</a>
                   </div>
                   <div id="collapse2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                      <div class="tabs-data-row">
                         <div class="col-xs-12 col-md-12">
                            <h5>Address</h5>
                            <p>5300 Westview Dr ste 108</p>
                            <p>Frederick MD</p>
                         </div>
                         <div class="col-xs-12 col-md-12">
                            <h5>Contact</h5>
                            <p>Ph   (301) 639-0804</p>
                            <p>Fax  (301) 639-0804</p>
                            <p>adfdgdsg@personal.com</p>
                            <a href="">Link to stie</a>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="panel panel-default">
                   <div class="panel-heading tabs-data-hdng"> 
                      <a class="accordion-toggle" data-toggle="collapse" href="#collapse3">Integrity Home Margooge<br>
                      George Makrides<br>
                      Martgoge Loan Origiotor</a>
                   </div>
                   <div id="collapse3" class="panel-collapse collapse">
                      <div class="tabs-data-row">
                         <div class="col-xs-12 col-md-12">
                            <h5>Address</h5>
                            <p>5300 Westview Dr ste 108</p>
                            <p>Frederick MD</p>
                         </div>
                         <div class="col-xs-12 col-md-12">
                            <h5>Contact</h5>
                            <p>Ph   (301) 639-0804</p>
                            <p>Fax  (301) 639-0804</p>
                            <p>adfdgdsg@personal.com</p>
                            <a href="">Link to stie</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <a href="" class="show-all-specialst-btn">Show all Morgage Specialists</a>
       </div>
       <!-- Home Equity Loan Officers end-->
       <!-- News on Bank of America start-->
       <div class="volume-auto-loan full-width loan-detail-blocks">
          <h3>News on Bank of America Mortgages and Home Loans</h3>
          <%@news_articles.each do |na|%>
            <div class="car-auto-loan-news">
               <h6><%=link_to na.headline.truncate(50), na.url, target: "_blank"%></h6>
               <h6>
                  <p><%=na.text.truncate(200)%>,  <%=link_to "more info", na.url, target: "_blank"%></p>
               </h6>

            </div>
          <%end%>
          <a href="" class="see-more-link-common">See More Reported Financials</a>
       </div>
       <!-- News on Bank of America end-->
       <!-- Loans from Similar Bank start-->
       <div class="volume-auto-loan full-width loan-detail-blocks car-auto-loan-othr-bank-box">
          <h3>Mortgage and Home Loans from Bank Similar to Bank of America</h3>
          <div class="car-auto-loan-othr-bank">
             <a href="">Mortgage and home loans by Bank Name 1</a>
             <a href="">Mortgage and home loans by Bank Name 2</a>
             <a href="">Mortgage and home loans by Bank Name 3</a>
             <a href="">Mortgage and home loans by Bank Name 4</a>
             <a href="">Mortgage and home loans by Bank Name 5</a>
          </div>
       </div>
       <!-- Loans from Similar Bank end-->
    </div>
 </section>
<!-- search result feed end-->   