<!-- banner search start-->
 <section class="banner search-result-banner" data-spy = "affix" data-offset-top = "60" data-offset-bottom = "200">
    <div class="container">
       <!-- banner main search start-->
       <div class="search-main adv-search-mb" id="seo-city-mort-desktop">
          <div class="search-cat zip-srch">
             <label>Zip Code</label>
             <input type="text" placeholder="94305">
          </div>
          <div class="search-cat purpse-srch">
             <label>Purpose</label>
             <select>
                <option>Purchase</option>
             </select>
          </div>
          <div class="search-cat price-srch">
             <label>Home Price</label>
             <div class="dollar-icn">$</div>
             <input type="text" placeholder="500,000">
          </div>
          <div class="search-cat price-srch">
             <label>Down Payment</label>
             <div class="dollar-icn">$</div>
             <input type="text" placeholder="100,000">
          </div>
          <div class="search-cat cr-srch">
             <label>Credit Score</label>
             <select>
                <option>750+</option>
             </select>
          </div>
          <button class="rates-btn">Get Rates</button>
       </div>
       <div class="search-main adv-search-mb" id="seo-city-mort-mb">
          <div class="section-lft-srch-drpdwn-icn" id="srch-edit-mb-only">
             <i class="fa fa-pencil"></i>
          </div>
          <div class="section-lft-srch-price-alert">
             <a data-toggle="modal" data-target="#create-price-alert" href=""><img src="/assets/mobile/mail4_03.png" alt=""></br>
             Price Alert
             </a>
          </div>
          <div class="section-lft-srch-drpdwn-icn">
             <i class="fa fa-angle-double-down"></i>
          </div>
          <div class="section-lft-srch">
             <p>$500,00 Home Purchase <span>in  94043</span></p>
             <p>$100,00 Down <span>750 +</span></p>
          </div>
       </div>
       <!-- banner main search end-->
    </div>
    <!-- advance search start-->
    <div class="srch-results-adv-srch inner-mb-changes">
       <div class="container">
          <div class="search-adv-option-box">
             <a href="javascript:void(0);" id="adv-option" class="desktop-btn"><i class="fa fa-angle-double-down"></i> Advanced Options</a>
             <a href="" data-toggle="modal" data-target="#advance-srch-mb" class="mb-btn"><i class="fa fa-angle-double-down"></i> Advanced Options</a>
             <a data-toggle="modal" data-target="#create-price-alert" href="" class="price-alert-btn"><i class="fa fa-envelope"></i> Create Price Alert</a>
             <div class="search-adv-option" id="search-adv-option-inner">
                <div class="row">
                   <h4>desired loan programs?</h4>
                   <div class="col-xs-12 col-md-2 advance-check">
                      <div class="form-group"><input type="checkbox" value=""> 30 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 20 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 15 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 10 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 7/1 Arm</div>
                      <div class="form-group"><input type="checkbox" value=""> 5/1 Arm</div>
                      <div class="form-group"><input type="checkbox" value=""> 3/1 Arm</div>
                   </div>
                   <div class="col-xs-12 col-md-3 drpdown-box">
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                   </div>
                   <div class="col-xs-12 col-md-4 drpdown-box">
                      <select>
                         <option>Select Prepay Penalty</option>
                      </select>
                      <label>Cash Reserves (mos)</label>
                      <select>
                         <option>$ 15</option>
                      </select>
                      <label>Monthly Debt</label>
                      <select>
                         <option>$ 0</option>
                      </select>
                      <label>Monthly Income</label>
                      <select>
                         <option>$ 5,000</option>
                      </select>
                   </div>
                   <div class="col-xs-12 col-md-3 advance-check">
                      <p>Owned Properties <span>01</span></p>
                      <div class="form-group"><input type="checkbox" value=""> Interest Only</div>
                      <div class="form-group"><input type="checkbox" value=""> Hazard Insuarance Waived</div>
                      <div class="form-group"><input type="checkbox" value=""> Property Taxes Waived</div>
                      <div class="form-group"><input type="checkbox" value=""> First Time Home Buyer</div>
                      <div class="form-group"><input type="checkbox" value=""> Non Perm Resident Alien</div>
                      <div class="form-group"><input type="checkbox" value=""> Foreign National</div>
                      <div class="form-group"><input type="checkbox" value=""> Miltary</div>
                      <div class="form-group"><input type="checkbox" value=""> Rular</div>
                   </div>
                   <div class="col-xs-12 col-md-3 menu-up-adv-search"><a href=""><img src="/assets/menu-up-white.png" alt=""/></a></div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- advance search end-->
 </section>
 <!-- banner end-->
 <!-- result feed start-->
 <section class="content-main seo-cities-mortgage">
    <div class="container">
       <div class="row">
          <div class="col-xs-12 col-md-12">
             <div class="loan-detail-blocks sectn-wo-bg">
                <h3><%=@city.city%>, <%=state_full_name(@state)%> Refinance Rates</h3>
                <div class="loan-detail-blocks-cntnt-inner">
                   <p>Here are the most competitive home refinance rates for <%=@city.city%>, <%=state_full_name(@state, true)%> based on around 200 competing banks and lending institutions that offer home refinancing in the cities around  <%=@city.city%>, <%=state_full_name(@state)%>.
                   </p>
                   <p class="mb-hide-para">Refinancing options include cash-out refi, positive equity refinancing, and short home refinancing for <%=@city.city%>, <%=state_full_name(@state)%>.</p>
                   <span href="" id="para-see-more-link">See More</span>
                   <span href="" id="para-see-less-link">See Less</span>
                </div>
             </div>
          </div>
       </div>
       <p class="top-txt-info">Sorted By
          <a href="" class="">APR</a>
       </p>
       <!--30 years feed start-->
       <div class="cntnt-list-box">
          <h5>30-Year Fixed Rates Customized for <%= Date.today.strftime("%B %d, %Y")%></h5>
          <div class="cntnt-list-inner gray-bg col-md-12">
             <div class="inner-logo"><img src="/assets/pic1_06.png" alt="">
               <a href="">Bank of America</a>
               <p>NMLS ID 54645</p>
               </div>
              <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
                <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
              </div>
             <div class="inner-block-combined">
               <div class="inner-block inner-block-small">
                  <span class="hdng-big">$23,078</span>
                  <p><span class="hiden-txt-mb">Expected</span> Savings</p>
               </div>
                <div class="inner-block inner-block-small">
                  <span class="hdng-big">$3,072/mo</span>
                  <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
                </div>
                <div class="inner-block inner-block-small">
                  <span class="hdng-big">$23,078</span>
                  <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
               </div>
             </div>
             <div class="inner-block-btn">
                <img src="/assets/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
             <div class="mb-scroll-icn">
             <a href=""><i class="fa fa-angle-right"></i></a>
             </div>
          </div>
          <div class="cntnt-list-inner col-md-12">
              <div class="inner-logo"><img src="/assets/pic2_03.png" alt="">
               <a href="">Bank of America</a>
               <p>NMLS ID 54645</p>
              </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
              <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="/assets/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
               <div class="mb-scroll-icn">
               <a href=""><i class="fa fa-angle-right"></i></a>
               </div>
          </div>
          <div class="cntnt-list-inner gray-bg col-md-12">
             <div class="inner-logo"><img src="/assets/pic3_07.png" alt="">
              <a href="">Bank of America</a>
              <p>NMLS ID 54645</p>
           </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
              <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="/assets/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
             <div class="mb-scroll-icn">
             <a href=""><i class="fa fa-angle-right"></i></a>
             </div>
          </div>
       </div>

       <div class="cntnt-list-box">
          <h5>15-Years Fixed Rates Customized for <%= Date.today.strftime("%B %d, %Y")%></h5>
          <div class="cntnt-list-inner gray-bg col-md-12">
             <div class="inner-logo"><img src="/assets/pic1_06.png" alt="">
               <a href="">Bank of America</a>
               <p>NMLS ID 54645</p>
               </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
                <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="/assets/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
             <div class="mb-scroll-icn">
             <a href=""><i class="fa fa-angle-right"></i></a>
             </div>
          </div>
          <div class="cntnt-list-inner col-md-12">
             <div class="inner-logo"><img src="/assets/pic2_03.png" alt="">
               <a href="">Bank of America</a>
               <p>NMLS ID 54645</p>
               </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
                <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
               <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="/assets/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
             <div class="mb-scroll-icn">
             <a href=""><i class="fa fa-angle-right"></i></a>
             </div>
          </div>
          <div class="cntnt-list-inner gray-bg col-md-12">
             <div class="inner-logo"><img src="/assets/pic3_07.png" alt="">
             <a href="">Bank of America</a>
             <p>NMLS ID 54645</p>
             </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
              <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="/assets/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
             <div class="mb-scroll-icn">
             <a href=""><i class="fa fa-angle-right"></i></a>
             </div>
          </div>
       </div>


       <div class="cntnt-list-box">
          <h5>15-Years Fixed Rates Customized for <%= Date.today.strftime("%B %d, %Y")%></h5>
          <div class="cntnt-list-inner gray-bg col-md-12">
             <div class="inner-logo"><img src="/assets/pic1_06.png" alt="">
             <a href="">Bank of America</a>
             <p>NMLS ID 54645</p>
             </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
                <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
               <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="/assets/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
               <div class="mb-scroll-icn">
               <a href=""><i class="fa fa-angle-right"></i></a>
               </div>
          </div>
          <div class="cntnt-list-inner col-md-12">
             <div class="inner-logo"><img src="/assets/pic2_03.png" alt="">
             <a href="">Bank of America</a>
             <p>NMLS ID 54645</p>
             </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
                <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="/assets/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
               <div class="mb-scroll-icn">
               <a href=""><i class="fa fa-angle-right"></i></a>
               </div>
          </div>
          <div class="cntnt-list-inner gray-bg col-md-12">
             <div class="inner-logo"><img src="/assets/pic3_07.png" alt="">
             <a href="">Bank of America</a>
             <p>NMLS ID 54645</p>
             </div>
             <div class="inner-block">
                <span class="hdng-big">4.356% Rate</span>
                <p class="hiden-txt-mb">4.145% APR</p>
                <p>30 Year Fixed</p>
              <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
             </div>
             <div class="inner-block-combined">
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
             </div>
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
             </div>
             <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
             </div>
             </div>
             <div class="inner-block-btn">
                <img src="/assets/heart_03.png" alt="" class="wishlist-icn-fill">
                <a href="" class="dtail-btn">View Details</a>
                <a href="" class="lendr-web-link">Lender Website</a>
             </div>
             <div class="mb-scroll-icn">
             <a href=""><i class="fa fa-angle-right"></i></a>
             </div>
          </div>
       </div>
       <!-- 15/1 ARM feed end-->
       <!-- Closing Cost Summary start-->
       <div class="row">
          <div class="col-xs-12 col-md-12">
             <div class="loan-detail-blocks">
                <h3>Closing Cost Summary for Refinance Rates in <%=@city.city%>, <%=state_full_name(@state)%></h3>
                <div class="closing-cost-smry-cntnt">
                   <div class="col-xs-12 col-md-2">
                      Origination Fee
                      <p>$2,000</p>
                   </div>
                   <div class="col-xs-12 col-md-2">
                      Appraisal Fee
                      <p>$400</p>
                   </div>
                   <div class="col-xs-12 col-md-2">
                      Underwriting Fee
                      <p>$500</p>
                   </div>
                   <div class="col-xs-12 col-md-1">
                      Other Fee
                      <p>$100</p>
                   </div>
                   <div class="col-xs-12 col-md-2">
                      Discount Points
                      <p>$2,858</p>
                   </div>
                   <div class="col-xs-12 col-md-3">
                      Estimated  Closing Costs
                      <p>$5,585</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <!-- Closing Cost Summary end-->
       <!-- Historical Rates for Albany start-->
       <div class="row">
          <div class="col-xs-12 col-md-12">
             <div class="loan-detail-blocks">
                <h3><b>Historical Rates for <%=@city.city%>, <%=state_full_name(@state)%> Refinancings based on Actual Closed Refi Data</b>
                   <span>We  have compiled refinance rate statistics for <%=@city.city%>, <%=state_full_name(@state)%> to help you understand trends for
                   your home refinancing process. This data is produced from actual closed loans.
                   </span>
                </h3>
                <div class="graph-box main-table-graph">
                <div class="dynamic-table-box">
                <div class="col-md-12 table-data-box">
                <div class="data-table-inner table-responsive main-table-grapg-box">
                   <!-- Dynamic report section starts from here-->
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th> </th>
                          <%@header.each do |report_header|%>
                          <th>
                              <%=report_header%>
                          </th>
                          <%end%>
                        </tr>
                      </thead>
                      <tbody>
                         <%if @flag%>
                      <tr>
                        <td>% 30 year fixed mortgage </td>
                        <%eval(@report['% 30 year fixed mortgage']).each do |k, v|%>
                          <td><%= v ==  nil || v == 0.0 ? '' : v.round(2).to_s+'%'%> </td>
                        <%end%>
                      </tr>
                      <tr>
                        <td>avg mortgage rate </td>
                          <%eval(@report['avg rate(30 yr)']).each do |k,v|%>
                            <td><%= v ==  nil || v == 0.0 ? '' : v.round(2).to_s+'%'%> </td>    
                          <%end%>
                      </tr>
                        
                        <tr>
                          <td> % 15 year fixed mortgage</td>
                          <%eval(@report['% 15 year fixed mortgage']).each do |k,v|%>
                            <td><%= v ==  nil || v == 0.0 ? '' : v.round(2).to_s+'%'%> </td>    
                          <%end%>
                          </tr>
                        
                        <tr>
                          <td> avg mortgage rate</td>
                          <%eval(@report['avg rate(15 yr)']).each do |k,v|%>
                            <td><%= v ==  nil || v == 0.0 ? '' : v.round(2).to_s+'%'%> </td>    
                          <%end%>
                        </tr>
                        <tr>
                          <td> % 10/1 ARM</td>
                          <%eval(@report['% 10/1 ARM']).each do |k,v|%>
                            <td><%= v ==  nil || v == 0.0 ? '' : v.round(2).to_s+'%'%> </td>    
                          <%end%>
                        </tr>
                        <tr>
                          <td> avg mortgage rate</td>
                          <%eval(@report['avg rate(10 yr)']).each do |k,v|%>
                            <td><%= v ==  nil || v == 0.0 ? '' : v.round(2).to_s+'%'%> </td>    
                          <%end%>
                        </tr>
                        <tr>
                          <td> % 7/1 ARM</td>
                          <%eval(@report['% 7/1 ARM']).each do |k,v|%>
                            <td><%= v ==  nil || v == 0.0 ? '' : v.round(2).to_s+'%'%> </td>    
                          <%end%>
                        </tr>
                        <tr>
                          <td>avg mortgage rate </td>
                          <%eval(@report['avg rate(7 yr)']).each do |k,v|%>
                            <td><%= v ==  nil || v == 0.0 ? '' : v.round(2).to_s+'%'%> </td>    
                          <%end%>
                        </tr>
                        <tr>
                          <td>% 5/1 ARM </td>
                          <%eval(@report['% 5/1 ARM']).each do |k,v|%>
                            <td><%= v ==  nil || v == 0.0 ? '' : v.round(2).to_s+'%'%> </td>    
                          <%end%>
                        </tr>
                        <tr class="row-bordr-botom">
                          <td> avg mortgage rate</td>
                          <%eval(@report['avg rate(5 yr)']).each do |k,v|%>
                            <td><%= v ==  nil || v == 0.0 ? '' : v.round(2).to_s+'%'%> </td>    
                          <%end%>
                        </tr>
                        <tr>
                          <td> Avg credit score</td>
                          <%eval(@report['Avg credit score']).each do |k,v|%>
                            <td><%= v ==  nil || v == 0.0 ? '' : v.round(2)%> </td>    
                          <%end%>
                        </tr>
                        <tr>
                          <td class="class-right"> Avg LTV (loan to value)</td>
                          <%eval(@report['Avg LTV (loan to value']).each do |k,v|%>
                            <td><%= v ==  nil || v == 0.0 ? '' : v.round(2)%> </td>    
                          <%end%>
                        </tr>
                        <tr>
                          <td>Avg  Combined LTV (loan to value) </td>
                          <%eval(@report['Avg Combined LTV (loan to value)']).each do |k,v|%>
                            <td><%= v ==  nil || v == 0.0 ? '' : v.round(2)%> </td>    
                          <%end%>
                        </tr>
                        <tr class="row-bordr-botom">
                          <td class="class-right">Avg DTI (debt to income) </td>
                          <%eval(@report['Avg DTI (debt to income)']).each do |k,v|%>
                            <td><%= v ==  nil || v == 0.0 ? '' : v.round(2)%> </td>    
                          <%end%>
                        </tr>
                        <tr>
                          <td>% Cash-out refinance </td>
                          <%eval(@report['% Cash-out refinance']).each do |k,v|%>
                            <td><%= v ==  nil || v == 0.0 ? '' : v.round(2)%> </td>    
                          <%end%>
                        </tr>
                        <tr>
                          <td class="class-right">% No cash-out refinance</td>
                          <%eval(@report['% No cash-out refinance']).each do |k,v|%>
                            <td><%= v ==  nil || v == 0.0 ? '' : v.round(2)%> </td>    
                          <%end%>
                        </tr>
                         <tr>
                          <td> Avg mortgage insurance %</td>
                          <%eval(@report['Avg mortgage insurance %']).each do |k,v|%>
                            <td><%= v ==  nil || v == 0.0 ? '' : v.round(2)%> </td>    
                          <%end%>
                        </tr> 
                    <%else%>
                        <%@count = 0%>
                        <%@report.each do |term,report|%>
                            <%@count += 1%>
                            <tr>
                            <%if @count <=10%>
                              <%if @count % 2 == 0%>
                                <%if @count == 10 %>
                                  <td class ="row-bordr-botom"> avg refinance rate</td>
                                <%else%>
                                  <td> avg refinance rate</td>
                                <%end%>
                              <%else%>
                                <td><%=term%></td>
                              <%end%>
                            <%else%>
                              <%if @count == 14%>
                                <td class ="row-bordr-botom"><%=term%></td>
                              <%else%>
                                <td><%=term%></td>
                              <%end%>
                            <%end%>
                              <%report.each do |re,val|%>
                                <%if @count <= 10 %>
                                  <%if @count == 10%>
                                    <td class ="row-bordr-botom"><%=val.to_s == 'NaN' ? ' ' : val == 0.0 ? '' : val.round(2).to_s+'%'%></td>
                                  <%else%>
                                    <td><%=val.to_s == 'NaN' ? ' ' : val == 0.0 ? '' : val.round(2).to_s+'%'%></td>
                                  <%end%>
                                <%else%>
                                  <%if @count ==14%>
                                    <td class ="row-bordr-botom"><%=val.to_s == 'NaN' ? '' : val.round(2)%></td>
                                  <%else%>
                                    <td><%=val.to_s == 'NaN' || val == 0.0 ? '' : val.round(2)%></td>
                                  <%end%>
                                <%end%>
                              <%end%>
                            </tr>
                        <%end%>
                        <%end%>
                      </tbody>
                    </table>
                  </div>
                   <a class="link-right-inner">Data produced  from US Government reported financials</a>
                   <p>The table above shows the refinance rates for home loans in <%=@city.city%>, <%=state_full_name(@state, true)%> over the past 10 years. This table is compiled using actual closed refinancings in <%=@city.city%>, <%=state_full_name(@state, true)%>, and this information is disclosed by the US government due to consumer protection laws.</p>
                   <a href="" class="see-more-link-common">See More historical data</a>
                </div>
                </div>
            </div>
            </div>
             </div>
          </div>
       <!-- Historical Rates for Albany end-->
       <!-- Online Trends for Refinance Rates start-->
       <div class="row">
          <div class="col-xs-12 col-md-12">
             <div class="loan-detail-blocks">
                <h3><b>Online Trends for Refinance Rates in <%=@city.city%>, <%=state_full_name(@state)%></b>
                   <span>We have also created a proprietary engine to monitor online rates for the largest home refinance lenders in the United States, to ensure you are getting the best rates even during the online research phase.</span>
                </h3>
                <div class="graph-box">
                   <img src="/assets/seo-city-mortgage-graph2.png" alt="">
                   <img src="/assets/seo-city-mortgage-graph2.png" alt="">
                   <img src="/assets/seo-city-mortgage-graph2.png" alt="">
                   <p class="para-lft-inner">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                   <a href="" class="see-more-link-common">See More Graphs</a>
                </div>
             </div>
          </div>
       </div>
       <!-- Online Trends for refinance Rates end-->
       <div class="seo-auto-loan-tabs loan-detail-blocks">
          <h3><b>Recommended and Best <%=@city.city%>, <%=state_full_name(@state)%> Refinance Companies</b>
             <span>In addition to online refinance companies, here are some refinance rate specialists in <%=@city.city%>, <%=state_full_name(@state)%>.</span>
          </h3>
          <!--Used Car Loans desktop section end-->
          <div class="tabs-data-main desktop-tabs-data">
             <div class="tabs-data-hdng">
                <div class="col-xs-12 col-md-4">Name</div>
                <div class="col-xs-12 col-md-4">Address</div>
                <div class="col-xs-12 col-md-4">Contact</div>
             </div>
             <%if @loan_officers.present?%>
                  <%@loan_officers.each_with_index do |loan_officer, i|%>
                    <%if i < 5%>
                        <div class="tabs-data-row">
                          <div class="col-xs-12 col-md-4">
                              <p><%= remove_unnecessary_keywords(loan_officer.try(:first))%> <%=remove_unnecessary_keywords(loan_officer.try(:last))%></p>
                              <p><%= remove_unnecessary_keywords(loan_officer.title)%></p>
                          </div>
                          <div class="col-xs-12 col-md-4">
                              <p><%=loan_officer.address%> </p>
                              <p><%= loan_officer.city%>, <%= loan_officer.state%> </p>
                          </div>
                          <div class="col-xs-12 col-md-4">
                               <p><%= loan_officer.phone1.present? ? mobile_no_formatting(loan_officer.phone1) : mobile_no_formatting(loan_officer.phone2)%></p>
                              <p><%= remove_unnecessary_keywords(loan_officer.email)%></p>
                          </div>
                        </div>
                    <%else%>
                        <div id='officers_data_<%=i.to_s%>' style= "display:none;">
                           <div class="tabs-data-row">
                            <div class="col-xs-12 col-md-4">
                                <p><%= remove_unnecessary_keywords(loan_officer.try(:first))%> <%=remove_unnecessary_keywords(loan_officer.try(:last))%></p>
                                <p><%= remove_unnecessary_keywords(loan_officer.title)%></p>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <p><%=loan_officer.address%> </p>
                                <p><%= loan_officer.city%>, <%= loan_officer.state%> </p>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                 <p><%= loan_officer.phone1.present? ? mobile_no_formatting(loan_officer.phone1) : mobile_no_formatting(loan_officer.phone2)%></p>
                                <p><%= remove_unnecessary_keywords(loan_officer.email)%></p>
                            </div>
                          </div>
                        </div>
                      <%end%>
                  <%end%>
                <%else%>
                  <div class="tabs-data-row">
                    No Records Found
                  </div>
                <%end%>
          </div>
          <!--Used Car Loans Officers mobile tabs end-->
          <div class="tabs-data-main tabs-accordians-box">
             <div class="panel-group">
              <%if @loan_officers.present?%>
                  <%@loan_officers.each_with_index do |loan_officer, i|%>
                    <%if i < 3%>
                      <div class="panel panel-default">
                         <div class="panel-heading tabs-data-hdng">
                            <a class="accordion-toggle" data-toggle="collapse" href="#collapse_<%=i.to_s%>">
                              <%= remove_unnecessary_keywords(loan_officer.try(:first))%> <%=remove_unnecessary_keywords(loan_officer.try(:last))%>
                              <br>
                              <%= remove_unnecessary_keywords(loan_officer.title)%>
                            </a>
                         </div>
                         <div id="collapse_<%=i.to_s%>" class="panel-collapse collapse">
                            <div class="tabs-data-row">
                               <div class="col-xs-12 col-md-12">
                                  <h5>Address</h5>
                                  <p><%=loan_officer.address%></p>
                                  <p><%= loan_officer.city%>, <%= loan_officer.state%> </p>
                               </div>
                               <div class="col-xs-12 col-md-12">
                                  <h5>Contact</h5>
                                   <p><%= loan_officer.phone1.present? ? mobile_no_formatting(loan_officer.phone1) : mobile_no_formatting(loan_officer.phone2)%></p>
                                  <p>Fax  (301) 639-0804</p>
                                  <p><%= remove_unnecessary_keywords(loan_officer.email)%></p>
                               </div>
                            </div>
                         </div>
                      </div>
                    <%elsif i < 5 %>
                       <div id='officers_mobile_data_<%=i.to_s%>' style= "display:none;">
                         <div class="panel panel-default">
                         <div class="panel-heading tabs-data-hdng">
                            <a class="accordion-toggle" data-toggle="collapse" href="#collapse_<%=i.to_s%>">
                              <%= remove_unnecessary_keywords(loan_officer.try(:first))%> <%=remove_unnecessary_keywords(loan_officer.try(:last))%>
                              <br>
                              <%= remove_unnecessary_keywords(loan_officer.title)%>
                            </a>
                         </div>
                         <div id="collapse_<%=i.to_s%>" class="panel-collapse collapse">
                            <div class="tabs-data-row">
                               <div class="col-xs-12 col-md-12">
                                  <h5>Address</h5>
                                  <p><%=loan_officer.address%></p>
                                  <p><%= loan_officer.city%>, <%= loan_officer.state%> </p>
                               </div>
                               <div class="col-xs-12 col-md-12">
                                  <h5>Contact</h5>
                                   <p><%= loan_officer.phone1.present? ? mobile_no_formatting(loan_officer.phone1) : mobile_no_formatting(loan_officer.phone2)%></p>
                                  <p>Fax  (301) 639-0804</p>
                                  <p><%= remove_unnecessary_keywords(loan_officer.email)%></p>
                               </div>
                            </div>
                         </div>
                      </div>
                      </div>
                    <%end%>
                  <%end%>
                <%end%>
             </div>
          </div>
         <!--  <a href="" class="show-all-specialst-btn">Show all Morgage Specialists</a> -->
        <button class= "show-all-specialst-btn" id="desktop_loan_off_data">Show all Morgage Specialists </button>
       </div>
       <div class="volume-auto-loan full-width loan-detail-blocks">
          <h3>News on Low Cost Refi's for <%=@city.city%>, <%=state_full_name(@state)%></h3>
          <%if @news_articles.present?%>
            <%@news_articles.each do |na|%>
              <div class="car-auto-loan-news">
                 <h6><%=link_to na.headline.truncate(50), na.url, target: "_blank"%></h6>
                    <p><%=na.text.truncate(130)%>,  <%=link_to "more info", na.url, target: "_blank"%></p>
              </div>
            <%end%>
          <%else%>
            <div class="tabs-data-row no-record-box">
              No Record Found
            </div>
          <%end%>  
          <a href="" class="see-more-link-common">See More Recent News</a>
       </div>
       <div class="volume-auto-loan full-width loan-detail-blocks car-auto-loan-othr-bank-box">
          <h3>Refinance Rates around <%=@city.city%>, <%=state_full_name(@state)%></h3>
          <div class="car-auto-loan-othr-bank">
             <%if @near_by_cities.flatten.compact.present? %>
                <%@near_by_cities.flatten.compact.each do |city|%>
                  <%= link_to city.city+', '+city.state_code,city_home_refinance_rates_path(state: city.state_code, city: city.city.tr(' ', '+'),city_id: city.id)%>
                <%end%>
              <%else%>
                 No Records Found
              <%end%>
          </div>
       </div>
    </div>
 </section>
 <!-- search result feed end-->

 <script>

    $("#desktop_loan_off_data").click(function(){
      <%(5..9).each do |i|%>
        $("#officers_data_<%=i.to_s%>").toggle();
      <%end%>
      <%(3..5).each do |i|%>
          $("#officers_mobile_data_<%=i.to_s%>").toggle();
        <%end%>

    });

 </script>
