<!--sidebar start-->
  <div class="col-md-4">
    <div class="sidebar-blog">

      <div class="rght-sidebar-box">
        <h3>Share your research</h3>
          <div class="rght-sidebar-box-dtail">
          <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's.</p>
             <a href="" data-toggle="modal" data-target="#research_contact_form"  class='blog-cntct-btn'>Contact Us</a> 
          </div>
      </div>

      <div class="rght-sidebar-box">
        <h3>Research papers by Category</h3>
        <div class="rght-sidebar-box-dtail">
          <%ButterCMS::Category.all().each do |category|%>
            <div class="rght-sidebar-box-dtail-sectns">
              <h5><%= link_to category.name, buttercms_category_path(category.slug), :title => category.name %> </h5>
            </div>
          <% end %>
        </div>
      </div>
    </div>  
  </div>
<!--sidebar end-->

<!-- research contact form starts here -->
  <div class="modal fade signup-login-popup login-popup" id="research_contact_form" role="dialog">
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal"><%= image_tag("cancel_03.png", :alt => "close", :class => "login-cross-img") %>
       </button>
      </div>
      <div class="modal-body">
        <div class="pum-content popmake-content">
          <div class="popup-hdr">
            <h3>Share your Research with your Readers</h3>
            <p>Educate our 74,000 monthly readers on latest academic research and industry news on economics and housing</p>
          </div>
          <div class="popup-cntnt">
            <%= form_with url: research_contact_us_email_path, html: {multipart: true}, id: "research_form" do |f| %>
              <div class="screen-reader-response"></div>
              <div>
                <span class="wpcf7-form-control-wrap your-name">
                  <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "wpcf7-form-control wpcf7-text wpcf7-validates-as-required" %>
                </span>
              </div>
              <div>
                <span class="wpcf7-form-control-wrap your-email">
                  <%= f.email_field :email, autofocus: true, placeholder: "Email",class: "wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" %>
                </span>
              </div>
              <div>
                <span class="wpcf7-form-control-wrap your-subject">
                  <%= f.url_field :website, autofocus: true, placeholder: "Website",class: "wpcf7-form-control wpcf7-text" %>
                </span>
              </div>
              <div>
                <span class="wpcf7-form-control-wrap your-message">
                  <%= f.text_area :research_summary, size: "55x5", autofocus: true, placeholder: "Research summary and key insights", style: 'max-width: 100%', class: "wpcf7-form-control wpcf7-textarea"%>
                </span>
              </div>
              <div>
                <span class="wpcf7-form-control-wrap popup-upload-btn">
                  <img src="/images/upload-nw-icn.png"> Upload Research
                  <%= f.file_field :attachment,autofocus: true%>
                </span>
              </div>
              <p>
                <%= f.submit "SHARE RESEARCH", class: "rates-btn"%>
                <span class="ajax-loader"></span>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>

<!-- research contact form ends here -->

<script type="text/javascript">
  $(document).ready(function(){
  $.validator.addMethod('filesize', function (value, element, param) {
      return this.optional(element) || (element.files[0].size <= param)
  }, 'File size must be less than 2-Mb');

  $('#research_form').validate({
    rules: {
      "name": {
          required: true
      },
      "email": {
          required: {
            depends:function(){
                $(this).val($.trim($(this).val()));
                return true;
              }
          },
          email: true
      },
      "research_summary":{
          required: true
      },
      "attachment": {
        extension: "jpg,jpeg,pdf,docx,doc",
        filesize:   2097152 
      }
    },
    messages: {
      "name": {
          required: "Please enter your name."
      },
      "email": {
          required: "Please enter your email.",
          email: "Please enter valid email address.",
      },
      "research_summary":{
          required: "Please enter your research summary."
      },
      "attachment": {
        extension: "File must be JPG, PDF or DOC."
      }
    }
  })
  })
</script>