<%#=begin
form:           Forgot password
Developer:      Varun
Created:        22-02-2018
Purpose:        User change password
Params:         email token
Return:         hash
=end %>
<section class="content-main login-page">
  <div class="container">
    <h1>Forgot Password</h1>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, id: 'forgot_signup_form' }) do |f| %>
     <%= devise_error_messages! %>
     <div class="login-page-cntnt">
      <div class="login-rows">
       <%= image_tag("login-user.png", :alt => "User") %>
       <img src="images/login-user.png" alt="">
       <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
      </div>
      <div class="login-rows cntnt-login">
       <%= f.submit "Submit", class: "login-page-btn" %>
       <div class="forgot-signup-links">
        <%= link_to "Sign In", new_session_path(resource_name) %>
       </div>
      </div>
     </div>
    <% end %>
  </div>
</section>
