<!-- banner start-->
 <section class="banner">
    <div class="container">
       <h3>Compare customized mortgage rates instantly</h3>
       <p>Average savings of $12,860 vs standard rates</p>
      <!-- banner main search start-->
       <div class="search-main adv-search-mb">
          <div class="search-cat zip-srch">
             <label>Zip Code</label>
             <input type="text" placeholder="123456" value= <%=user_location_info.present? ? user_location_info.data["postal"].present? ? user_location_info.data["postal"] : nil : nil%> >  <!-- calling function defined in Application helper-->
          </div>
          <div class="search-cat purpse-srch">
             <label>Purpose</label>
             <select>
                <option>Purchase</option>
             </select>
          </div>
          <div class="search-cat price-srch">
             <label>Home Price</label>
             <div class="dollar-icn">$</div>
             <input type="text" placeholder="123456">
          </div>
          <div class="search-cat price-srch">
             <label>Down Payment</label>
             <div class="dollar-icn">$</div>
             <input type="text" placeholder="123456">
          </div>
          <div class="search-cat cr-srch">
             <label>Credit Score</label>
             <select>
                <option>750+</option>
             </select>
          </div>
          <!-- <button class="rates-btn hm-src-btn-main">Get Rates</button> -->
          <button class="rates-btn hm-search-btn-nw">Get Rates</button>
          <div class="search-adv-option-box">
             <a href="javascript:void(0);" id="adv-option" class="desktop-btn">Advanced Options</a>
             <a href="" data-toggle="modal" data-target="#advance-srch-mb"  class="mb-btn">Advanced Options</a>
             <div class="search-adv-option" id="search-adv-option-inner">
                <div class="row">
                   <h4>desired loan programs?</h4>
                   <div class="col-xs-12 col-md-2 advance-check">
                      <div class="form-group"><input type="checkbox" value=""> 30 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 20 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 15 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 10 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 7/1 Arm</div>
                      <div class="form-group"><input type="checkbox" value=""> 5/1 Arm</div>
                      <div class="form-group"><input type="checkbox" value=""> 3/1 Arm</div>
                   </div>
                   <div class="col-xs-12 col-md-3 drpdown-box">
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                   </div>
                   <div class="col-xs-12 col-md-4 drpdown-box">
                      <select>
                         <option>Select Prepay Penalty</option>
                      </select>
                      <label>Cash Reserves (mos)</label>
                      <select>
                         <option>$ 15</option>
                      </select>
                      <label>Monthly Debt</label>
                      <select>
                         <option>$ 0</option>
                      </select>
                      <label>Monthly Income</label>
                      <select>
                         <option>$ 5,000</option>
                      </select>
                   </div>
                   <div class="col-xs-12 col-md-3 advance-check">
                      <p>Owned Properties <span>01</span></p>
                      <div class="form-group"><input type="checkbox" value=""> Interest Only</div>
                      <div class="form-group"><input type="checkbox" value=""> Hazard Insuarance Waived</div>
                      <div class="form-group"><input type="checkbox" value=""> Property Taxes Waived</div>
                      <div class="form-group"><input type="checkbox" value=""> First Time Home Buyer</div>
                      <div class="form-group"><input type="checkbox" value=""> Non Perm Resident Alien</div>
                      <div class="form-group"><input type="checkbox" value=""> Foreign National</div>
                      <div class="form-group"><input type="checkbox" value=""> Miltary</div>
                      <div class="form-group"><input type="checkbox" value=""> Rular</div>
                   </div>
		                <div class="col-xs-12 col-md-3 menu-up-adv-search"><a href="javascript:;"><img src="images/menu-up_03.png" alt=""/></a></div>
                </div>
             </div>
          </div>
       </div>
    <!-- banner main search end-->
    </div>
 </section>
 <!-- banner end-->
 <!-- search result feed start-->
 <section class="content-main">
            <div class="container">
               <p class="main-para-hdng">Pureloan searches all the major banks and lenders to give you the best rates. Here are a few sample rates
                  in your area for 30-year fixed, 15year fixed, and 5/1 Adjustable Rate Mortgage (ARM).
               </p>
               <div class="cntnt-list-box">
                  <h5>30-Year Fixed Rates Customized for <%= Date.today.strftime("%B %d, %Y")%></h5>
                  <div class="cntnt-list-inner gray-bg col-md-12">
                     <div class="inner-logo"><img src="images/pic1_06.png" alt="">
           <a href="">Bank of America</a>
           <p>NMLS ID 54645</p>
           </div>
                     <div class="inner-block">
                        <span class="hdng-big">4.356% Rate</span>
                        <p class="hiden-txt-mb">4.145% APR</p>
                        <p>30 Year Fixed</p>
            <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
                     </div>
                     <div class="inner-block-combined">
                     <div class="inner-block inner-block-small">
                        <span class="hdng-big">$23,078</span>
                        <p><span class="hiden-txt-mb">Expected</span> Savings</p>
                     </div>
           <div class="inner-block inner-block-small">
                        <span class="hdng-big">$3,072/mo</span>
                        <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
                     </div>
           <div class="inner-block inner-block-small">
                        <span class="hdng-big">$23,078</span>
                        <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
                     </div>
                     </div>
                     <div class="inner-block-btn">
                        <img src="images/heart_03.png" alt="" class="wishlist-icn-fill">
                        <a href="" data-toggle="modal" data-target="#view-details-popup" class="dtail-btn">View Details</a>
                        <a href="" class="lendr-web-link">Lender Website</a>
                     </div>
           <div class="mb-scroll-icn">
           <a href=""><i class="fa fa-angle-right"></i></a>
           </div>
                  </div>
                  <div class="cntnt-list-inner col-md-12">
                     <div class="inner-logo"><img src="images/pic2_03.png" alt="">
           <a href="">Bank of America</a>
           <p>NMLS ID 54645</p>
           </div>
                     <div class="inner-block">
                        <span class="hdng-big">4.356% Rate</span>
                        <p class="hiden-txt-mb">4.145% APR</p>
                        <p>30 Year Fixed</p>
            <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
                     </div>
                     <div class="inner-block-combined">
                     <div class="inner-block inner-block-small">
                        <span class="hdng-big">$23,078</span>
                        <p><span class="hiden-txt-mb">Expected</span> Savings</p>
                     </div>
           <div class="inner-block inner-block-small">
                        <span class="hdng-big">$3,072/mo</span>
                        <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
                     </div>
           <div class="inner-block inner-block-small">
                        <span class="hdng-big">$23,078</span>
                        <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
                     </div>
                     </div>
                     <div class="inner-block-btn">
                        <img src="images/heart_03.png" alt="" class="wishlist-icn-fill">
                        <a href="" class="dtail-btn">View Details</a>
                        <a href="" class="lendr-web-link">Lender Website</a>
                     </div>
           <div class="mb-scroll-icn">
           <a href=""><i class="fa fa-angle-right"></i></a>
           </div>
                  </div>
                  <div class="cntnt-list-inner gray-bg col-md-12">
                     <div class="inner-logo"><img src="images/pic3_07.png" alt="">
           <a href="">Bank of America</a>
           <p>NMLS ID 54645</p>
           </div>
                     <div class="inner-block">
                        <span class="hdng-big">4.356% Rate</span>
                        <p class="hiden-txt-mb">4.145% APR</p>
                        <p>30 Year Fixed</p>
            <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
                     </div>
                     <div class="inner-block-combined">
                     <div class="inner-block inner-block-small">
                        <span class="hdng-big">$23,078</span>
                        <p><span class="hiden-txt-mb">Expected</span> Savings</p>
                     </div>
           <div class="inner-block inner-block-small">
                        <span class="hdng-big">$3,072/mo</span>
                        <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
                     </div>
           <div class="inner-block inner-block-small">
                        <span class="hdng-big">$23,078</span>
                        <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
                     </div>
                     </div>
                     <div class="inner-block-btn">
                        <img src="images/heart_03.png" alt="" class="wishlist-icn-fill">
                        <a href="" class="dtail-btn">View Details</a>
                        <a href="" class="lendr-web-link">Lender Website</a>
                     </div>
           <div class="mb-scroll-icn">
           <a href=""><i class="fa fa-angle-right"></i></a>
           </div>
                  </div>
               </div>

               <div class="cntnt-list-box">
                  <h5>15-Years Fixed Rates Customized for <%= Date.today.strftime("%B %d, %Y")%></h5>
                  <div class="cntnt-list-inner gray-bg col-md-12">
                     <div class="inner-logo"><img src="images/pic1_06.png" alt="">
           <a href="">Bank of America</a>
           <p>NMLS ID 54645</p>
           </div>
                     <div class="inner-block">
                        <span class="hdng-big">4.356% Rate</span>
                        <p class="hiden-txt-mb">4.145% APR</p>
                        <p>30 Year Fixed</p>
            <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
                     </div>
                     <div class="inner-block-combined">
                     <div class="inner-block inner-block-small">
                        <span class="hdng-big">$23,078</span>
                        <p><span class="hiden-txt-mb">Expected</span> Savings</p>
                     </div>
           <div class="inner-block inner-block-small">
                        <span class="hdng-big">$3,072/mo</span>
                        <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
                     </div>
           <div class="inner-block inner-block-small">
                        <span class="hdng-big">$23,078</span>
                        <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
                     </div>
                     </div>
                     <div class="inner-block-btn">
                        <img src="images/heart_03.png" alt="" class="wishlist-icn-fill">
                        <a href="" class="dtail-btn">View Details</a>
                        <a href="" class="lendr-web-link">Lender Website</a>
                     </div>
           <div class="mb-scroll-icn">
           <a href=""><i class="fa fa-angle-right"></i></a>
           </div>
                  </div>
                  <div class="cntnt-list-inner col-md-12">
                     <div class="inner-logo"><img src="images/pic2_03.png" alt="">
           <a href="">Bank of America</a>
           <p>NMLS ID 54645</p>
           </div>
                     <div class="inner-block">
                        <span class="hdng-big">4.356% Rate</span>
                        <p class="hiden-txt-mb">4.145% APR</p>
                        <p>30 Year Fixed</p>
            <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
                     </div>
                     <div class="inner-block-combined">
                     <div class="inner-block inner-block-small">
                        <span class="hdng-big">$23,078</span>
                        <p><span class="hiden-txt-mb">Expected</span> Savings</p>
                     </div>
           <div class="inner-block inner-block-small">
                        <span class="hdng-big">$3,072/mo</span>
                        <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
                     </div>
           <div class="inner-block inner-block-small">
                        <span class="hdng-big">$23,078</span>
                        <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
                     </div>
                     </div>
                     <div class="inner-block-btn">
                        <img src="images/heart_03.png" alt="" class="wishlist-icn-fill">
                        <a href="" class="dtail-btn">View Details</a>
                        <a href="" class="lendr-web-link">Lender Website</a>
                     </div>
           <div class="mb-scroll-icn">
           <a href=""><i class="fa fa-angle-right"></i></a>
           </div>
                  </div>
                  <div class="cntnt-list-inner gray-bg col-md-12">
                     <div class="inner-logo"><img src="images/pic3_07.png" alt="">
           <a href="">Bank of America</a>
           <p>NMLS ID 54645</p>
           </div>
                     <div class="inner-block">
                        <span class="hdng-big">4.356% Rate</span>
                        <p class="hiden-txt-mb">4.145% APR</p>
                        <p>30 Year Fixed</p>
            <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
                     </div>
                     <div class="inner-block-combined">
                     <div class="inner-block inner-block-small">
                        <span class="hdng-big">$23,078</span>
                        <p><span class="hiden-txt-mb">Expected</span> Savings</p>
                     </div>
           <div class="inner-block inner-block-small">
                        <span class="hdng-big">$3,072/mo</span>
                        <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
                     </div>
           <div class="inner-block inner-block-small">
                        <span class="hdng-big">$23,078</span>
                        <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
                     </div>
                     </div>
                     <div class="inner-block-btn">
                        <img src="images/heart_03.png" alt="" class="wishlist-icn-fill">
                        <a href="" class="dtail-btn">View Details</a>
                        <a href="" class="lendr-web-link">Lender Website</a>
                     </div>
           <div class="mb-scroll-icn">
           <a href=""><i class="fa fa-angle-right"></i></a>
           </div>
                  </div>
               </div>


               <div class="cntnt-list-box">
                  <h5>15-Years Fixed Rates Customized for <%= Date.today.strftime("%B %d, %Y")%></h5>
                  <div class="cntnt-list-inner gray-bg col-md-12">
                     <div class="inner-logo"><img src="images/pic1_06.png" alt="">
           <a href="">Bank of America</a>
           <p>NMLS ID 54645</p>
           </div>
                     <div class="inner-block">
                        <span class="hdng-big">4.356% Rate</span>
                        <p class="hiden-txt-mb">4.145% APR</p>
                        <p>30 Year Fixed</p>
            <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
                     </div>
                     <div class="inner-block-combined">
                     <div class="inner-block inner-block-small">
                        <span class="hdng-big">$23,078</span>
                        <p><span class="hiden-txt-mb">Expected</span> Savings</p>
                     </div>
           <div class="inner-block inner-block-small">
                        <span class="hdng-big">$3,072/mo</span>
                        <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
                     </div>
           <div class="inner-block inner-block-small">
                        <span class="hdng-big">$23,078</span>
                        <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
                     </div>
                     </div>
                     <div class="inner-block-btn">
                        <img src="images/heart_03.png" alt="" class="wishlist-icn-fill">
                        <a href="" class="dtail-btn">View Details</a>
                        <a href="" class="lendr-web-link">Lender Website</a>
                     </div>
           <div class="mb-scroll-icn">
           <a href=""><i class="fa fa-angle-right"></i></a>
           </div>
                  </div>
                  <div class="cntnt-list-inner col-md-12">
                     <div class="inner-logo"><img src="images/pic2_03.png" alt="">
           <a href="">Bank of America</a>
           <p>NMLS ID 54645</p>
           </div>
                     <div class="inner-block">
                        <span class="hdng-big">4.356% Rate</span>
                        <p class="hiden-txt-mb">4.145% APR</p>
                        <p>30 Year Fixed</p>
            <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
                     </div>
                     <div class="inner-block-combined">
                     <div class="inner-block inner-block-small">
                        <span class="hdng-big">$23,078</span>
                        <p><span class="hiden-txt-mb">Expected</span> Savings</p>
                     </div>
           <div class="inner-block inner-block-small">
                        <span class="hdng-big">$3,072/mo</span>
                        <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
                     </div>
           <div class="inner-block inner-block-small">
                        <span class="hdng-big">$23,078</span>
                        <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
                     </div>
                     </div>
                     <div class="inner-block-btn">
                        <img src="images/heart_03.png" alt="" class="wishlist-icn-fill">
                        <a href="" class="dtail-btn">View Details</a>
                        <a href="" class="lendr-web-link">Lender Website</a>
                     </div>
           <div class="mb-scroll-icn">
           <a href=""><i class="fa fa-angle-right"></i></a>
           </div>
                  </div>
                  <div class="cntnt-list-inner gray-bg col-md-12">
                     <div class="inner-logo"><img src="images/pic3_07.png" alt="">
           <a href="">Bank of America</a>
           <p>NMLS ID 54645</p>
           </div>
                     <div class="inner-block">
                        <span class="hdng-big">4.356% Rate</span>
                        <p class="hiden-txt-mb">4.145% APR</p>
                        <p>30 Year Fixed</p>
            <a href="" class="more-dtail-link hiden-txt-mb">More Details</a>
                     </div>
                     <div class="inner-block-combined">
                     <div class="inner-block inner-block-small">
                        <span class="hdng-big">$23,078</span>
                        <p><span class="hiden-txt-mb">Expected</span> Savings</p>
                     </div>
           <div class="inner-block inner-block-small">
                        <span class="hdng-big">$3,072/mo</span>
                        <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
                     </div>
           <div class="inner-block inner-block-small">
                        <span class="hdng-big">$23,078</span>
                        <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
                     </div>
                     </div>
                     <div class="inner-block-btn">
                        <img src="images/heart_03.png" alt="" class="wishlist-icn-fill">
                        <a href="" class="dtail-btn">View Details</a>
                        <a href="" class="lendr-web-link">Lender Website</a>
                     </div>
           <div class="mb-scroll-icn">
           <a href=""><i class="fa fa-angle-right"></i></a>
           </div>
                  </div>
               </div>
            </div>
         </section>
 <!-- search result feed end-->
 <%if Expert.where(verified: true).count < 1%>
 <!-- Advertisement with expert start-->
         <section class="advertisement-box">
            <div class="container">
               <div class="advertisement">
                  <img class="mb-hide" src="images/home-ad.jpg" alt="">
                  <img class="mb-only" src="images/expert-ad-mb-img.png" alt="">
                  <h4>Become a mortgage expert on Pureloan.com for Albany, CA</h4>
                  <span class="">Reach hundreds of thousands of home buyers or
                  refi customers every month!</span>
                    <a href="" data-toggle="modal" data-target="#expert-app-overlay" class="dtail-btn">Submit Application</a>
               </div>
            </div>
         </section>
 <%end%>
         <!-- Advertisement with expert end-->
 <!--Rendering Experts  -->
 <%if Expert.where(verified: true).count >= 1%>
    <%= render 'pages/index'%>
  <%end%>

 <!-- expert application overlay popup start-->
 <div class="modal fade common-popup-layout" id="expert-app-overlay" role="dialog">
    <div class="modal-dialog">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal"><img src="images/cancel_03.png" alt="" class="login-cross-img"></button>
             <h4>Become an expert on <b>Pureloan.com</b> and reach hundreds of
                thousands of home buyers or refi customers every month!
             </h4>
          </div>
          <div class="modal-body">
             <%=form_with scope: :expert, url: expert_user_registration_path, id: 'expert_user_form'  do |expert_user| %>
                 <div class="row">
                    <div class="col-xs-12 col-md-6">
                       <div class="form-group">
                          <label>First Name</label>
                          <%= expert_user.text_field :first_name, placeholder: "Enter your First Name", class: "form-control"%>
                       </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                       <div class="form-group">
                          <label>Last Name</label>
                          <%= expert_user.text_field :last_name, placeholder: "Enter your Last Name", class: "form-control"%>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-xs-12 col-md-6">
                       <div class="form-group">
                          <label>Phone</label>
                          <%= expert_user.text_field :phone, placeholder: "Enter your Phone", class: "form-control", number: true%>
                       </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                       <div class="form-group">
                          <label>Email</label>
                          <%= expert_user.email_field :email, placeholder: "Enter your Email", class: "form-control"%>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-xs-12 col-md-6">
                       <div class="form-group select-arrow">
                          <label>State</label>
                        <%= expert_user.select(:state, City.pluck(:state_code).uniq.sort, {prompt: "Select State"}, { class: 'state' })%>
                       </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                       <div class="form-group select-arrow">
                          <label>City</label>
                        <%= expert_user.select(:city, [], {prompt: "Select city"}, { class: 'city' })%>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-xs-12 col-md-6">
                       <div class="form-group select-arrow">
                          <label>Zip</label>
                        <%= expert_user.select(:zip, [], {prompt: "Select zip"}, { class: 'zip' })%>
                       </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                       <div class="form-group">
                          <label>License Number</label>
                          <%= expert_user.text_field :license_number, placeholder: "Enter your License Number", class: "form-control"%>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-xs-12 col-md-6">
                       <div class="form-group select-arrow">
                          <label>Speciality <span>(Where you will be listed)</span></label>
                          <%= expert_user.select :specialty, options_for_select([["Mortgage","Mortgage"], ["Refinance","Refinance"], ["Personal","Personal"], ["Auto","Auto"]]), class: "form-control"%>
                       </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                       <div class="form-group">
                          <label>Website</label>
                          <%= expert_user.url_field :website, placeholder: "http//", class: "form-control", value: "http://"%>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-xs-12 col-md-6">
                       <div class="form-group custm-file-input">
                          <label>Photo</label>
                          <span><i class="fa fa-camera"></i> Upload</span>
                          <%= expert_user.file_field :image %>
                       </div>
                    </div>
                 </div>
                 <%= expert_user.submit "Submit Application", class: "rates-btn"%>
              <%end%>
<!--              <button class="rates-btn">Submit Application</button> -->
             <div class="expert-app-overlay-note">
                Your listing as an expert in the city Albany, California will be processed when we verify your status and we recieve an authentication link back from your business site
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- expert application overlay popup end-->

 <script>
    $(document).ready(function(){

      $('.menu-up-adv-search').click(function(){
        $("#search-adv-option-inner").hide("fast").removeClass("display-adv-search");
      });

        $('.state').change(function(){
            id_passed = $(".state option:selected").val();
            $.ajax({
                url: '/pages/expert_state_and_city',
                type: "GET",
                dataType: 'json',
                data: {"state" : id_passed},
                success: function(response) {
                  $(".city").empty();
                  $.each(response, function(e,res){
                    $(".city").append($("<option></option>").attr("value",res).text(res));
                  })
                }
            });
        })

        $('.city').change(function(){
            id_passed = $(".city option:selected").val();
            $.ajax({
                url: '/pages/expert_city_and_zip',
                type: "GET",
                dataType: 'json',
                data: {"city" : id_passed},
                success: function(response) {
                  $(".zip").empty();
                  $.each(response, function(e,res){
                    $(".zip").append($("<option></option>").attr("value",res).text(res));
                  })
                }
            });
        })

    });

    $.validator.addMethod('filesize', function (value, element, param) {
          return this.optional(element) || (element.files[0].size <= param)
      }, 'File size must be less than 2-Mb');

      $('#expert_user_form').validate({
        rules: {
          "expert[first_name]": {
              required: true
          },
          "expert[last_name]": {
              required: true
          },
          "expert[phone]":{
            required: true
          },
          "expert[email]": {
              required: {
                depends:function(){
                    $(this).val($.trim($(this).val()));
                    return true;
                  }
              },
              email: true
          },
          "expert[state]":{
            required: true
          },
          "expert[city]":{
            required: true
          },
          "expert[zip]":{
            required: true
          },
          "expert[license_number]":{
              required: true
          },
          "expert[website]":{
            required: true
          },
          "expert[image]": {
            required: true,
            extension: "jpg,jpeg",
            filesize:   2097152
          }
        },
        messages: {
          "expert[first_name]": {
              required: "Please enter your first name."
          },
          "expert[last_name]": {
              required: "Please enter you last name."
          },
          "expert[phone]":{
            required: "Plese enter mobile number."
          },
          "expert[email]": {
              required: "Please enter your email.",
              email: "Please enter valid email address.",
          },
          "expert[state]":{
              required: "Please selcet a state"
          },
          "expert[city]":{
              required: "Please selcet a city"
          },
          "expert[zip]":{
              required: "Please selcet a zip"
          },
          "expert[license_number]":{
              required: "Please enter your license number."
          },
          "expert[website]":{
            required: "Please enter website."
          },
          "expert[image]": {
            required: "Please upload an image.",
            extension: "File must be JPG,JPEG."
          }
        }
      })

</script>
