<div class="container">
    <div>
      <div>
        <p> pure-loan.com provides a mortgage calculator to help you understand your monthly home expenses. this includes mort-gage principal home loan interesr , and estimate total payment for both home motgage and refinance customers. </p>
        <p> These calculator are based on your location, interst rate, and our proprientary analysis platform.  We use various sources of public data to estimate additional costs such as property tax, home insuarance, and PMI insuarance it applicable.
        </p>
        <p id=”notice”><%= notice %></p>
        <div class="ex-breakdown">
          <h1>Monthly Expenses Breakdown</h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th align="center">
                  <center>Monthly</center>
                </th>
                <th>
                  <center>Total</center>
                </th>
                <th>
                  <center>Percentage</center>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mortgage Principle</td>
                <td align="center">
                  <%= number_to_currency(@mortgage_principal[:monthly], unit: "")%>
                </td>
                <td align="center">
                  <%= number_to_currency(@mortgage_principal[:total], unit: "")%>
                </td>
                <td align="center">
                  <%= @mortgage_principal[:percentage]%>%
                </td>
              </tr>
              <tr>
                <td>Mortgage Interest</td>
                <td align="center">
                  <%= number_to_currency(@mortgage_interest[:monthly], unit: "")%>
                </td>
                <td align="center">
                  <%= number_to_currency(@mortgage_interest[:total], unit: "")%>
                </td>
                <td align="center">
                  <%= @mortgage_interest[:percentage]%>%
                </td>
              </tr>
              <tr>
                <td>Property Tax</td>
                <td align="center">
                <%= text_field_tag :monthly_property_tax, @property_tax[:monthly], :class=> "editable-field" %>
                </td>
                <td align="center">
                  <%= number_to_currency(@property_tax[:total], unit: "")%>
                </td>
                <td align="center">
                  <%= @property_tax[:percentage]%>%
                </td>
              </tr>
              <tr>
                <td>Home Insurance</td>
                <td align="center">
                <%= text_field_tag :monthly_home_insurance, @home_insurance[:monthly], :class=> "editable-field" %>
                </td>
                <td align="center">
                  <%= number_to_currency(@home_insurance[:total], unit: "")%>
                </td>
                <td align="center">
                  <%= @home_insurance[:percentage]%>%
                </td>
              </tr>
              <tr>
                <td>PMI Insurance</td>
                <td align="center">
                <%= text_field_tag :monthly_pmi_insurance, @pmi_insurance[:monthly], :class=> "editable-field" %>
                </td>
                <td align="center">
                  <%= number_to_currency(@pmi_insurance[:total], unit: "")%>
                </td>
                <td align="center">
                  <%= @pmi_insurance[:percentage]%>%
                </td>
              </tr>
              <tr>
                <td>HOA Dues</td>
                <td align="center">
                <%= text_field_tag :monthly_hoa_dues, @hoa_dues[:monthly], :class=> "editable-field" %>
                </td>
                <td align="center"><%= number_to_currency(@hoa_dues[:total], unit: "")%></td>
                <td align="center"><%= @hoa_dues[:percentage]%>%</td>
              </tr>
              <tr class="table-footer">
                <td>Total</td>
                <td align="center">
                  <%= number_to_currency(@monthly_expenses_sum[:monthly], unit: "")%>
                </td>
                <td align="center">
                  <%= number_to_currency(@monthly_expenses_sum[:total], unit: "")%>
                </td>
                <td align="center"><%= @monthly_expenses_sum[:percentage] %>%</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="ex-breakdown">
          <h1>Mortgage Payoff Over Time</h1>
          <div class="graph-wrapper">
            <div id="payoff-schedule-graph" style="height: 300px"></div>
            <div class="text-right">
              <a href="javascript:void(0)" class="btn primary-btn toggle-btn monthly-btn">SHOW PAYOFF SCHEDULE</a>
              <a href="#" class="btn btn-block primary-btn modal-btn" data-toggle="modal" data-target="#payoff_schedule_modal">SHOW PAYOFF SCHEDULE</a>
            </div>
          </div>
        </div>
        <div class="ex-breakdown hide-on-mobile toggle-container monthly-pay-none">
          <h1>Monthly Payoff Schedule</h1>
          <div class="scroll-table mCustomScrollbar" style="overflow: scroll">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th width="15%"></th>
                  <th align="center">
                    <center>Principal </center>
                  </th>
                  <th>
                    <center>Interet </center>
                  </th>
                  <th>
                    <center>Remainging </center>
                  </th>
                </tr>
              </thead>
              <tbody>
                <%
                if @monthly_payoff_list.present?
                  %>
                  <tr>
                    <td align="center"></td>
                    <td></td>
                    <td></td>
                    <td align="center">
                      <%= number_to_currency((@home_price - @down_payment).to_f) %>
                    </td>
                  </tr>
                  <%
                  @monthly_payoff_list.each do |monthly_payoff, index|
                  %>
                    <tr>
                      <td align="center"><%= monthly_payoff[:month] %></td>
                      <td align="center"><%= number_to_currency(monthly_payoff[:payoff_principal]) %></td>
                      <td align="center"><%= monthly_payoff[:payoff_interest] %></td>
                      <td align="center"><%= number_to_currency(monthly_payoff[:payoff_remaining]) %></td>
                    </tr>
                  <%
                  end
                end
                %>
              </tbody>
            </table>
          </div>
        </div>

        <div class="ex-breakdown">
          <h1>Investment Returns From Home Ownership Compare to Renting</h1>
          <div class="padding-20">
            <p>Benefits of Buying:</p>
            <p><%= @costs_compare_sum[:benifit].html_safe %></p>
          </div>
          <div class="compare-table">
            <table class="table table-striped table-border">
              <thead>
                <tr>
                  <th align="center" colspan="2">
                    <center>Rent</center>
                  </th>
                  <th colspan="2">
                    <center>Buy</center>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td width="25%">Initial Costs</td>
                  <td width="25%"><%= number_to_currency(@initial_costs[:rent], unit: "")%></td>
                  <td width="25%"><%= number_to_currency(@initial_costs[:buy], unit: "")%></td>
                  <td>Initial Costs</td>
                </tr>
                <tr>
                  <td colspan="4" class="padding-0">
                    <table class="sub-table" width="100%">
                      <tbody>
                        <tr>
                          <td width="25%">Rent Security Deposit</td>
                          <td width="25%">
                            <%= number_to_currency(@rent_security_deposit, unit: "")%>
                          </td>
                          <td width="25%">
                            <%= number_to_currency((@down_payment*-1), unit: "")%>
                          </td>
                          <td width="25%">Down Payment</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td width="25%">
                            <%= number_to_currency(@costs_of_buying_house[:rent], unit: "")%>
                          </td>
                          <td width="25%">
                            <%= number_to_currency(@costs_of_buying_house[:buy], unit: "")%>
                          </td>
                          <td>Cost of Buying House</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td width="25%">Recurring Costs</td>
                  <td  width="25%">
                    <%= number_to_currency(@recuring_costs[:rent], unit: "")%>
                  </td>
                  <td  width="25%">
                    <%= number_to_currency(@recuring_costs[:buy], unit: "")%>
                  </td>
                  <td>Recurring Costs</td>
                </tr>
                <tr>
                  <td colspan="4" class="padding-0">
                    <table class="sub-table" width="100%">
                      <tbody>
                        <tr>
                          <td width="25%">Total Monthly Rents</td>
                          <td width="25%">
                            <%= number_to_currency((@total_monthly_rents*-1), unit: "")%>
                          </td>
                          <td width="25%">
                            <%= number_to_currency(@mortgage_payments, unit: "")%>
                          </td>
                          <td width="25%">Morgage Payment</td>
                        </tr>
                        <tr>
                          <td>Renter's Insurance</td>
                          <td width="25%">
                            <%= number_to_currency(@renter_insurance, unit: "")%>
                            </td>
                          <td width="25%">
                            <%= number_to_currency((@property_tax[:total]*-1), unit: "")%>
                          </td>
                          <td>Property Taxes</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td>
                            <%= number_to_currency((@home_insurance[:total]*-1), unit: "")%>
                          </td>
                          <td>Home Insurance</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td>
                            <%= number_to_currency((@pmi_insurance[:total]*-1), unit: "")%>
                          </td>
                          <td>PMI Insurance</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td>
                            <%= number_to_currency(@hoa_dues[:monthly], unit: "")%>
                          </td>
                          <td>HOA Dues</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td>
                            <%= number_to_currency(@returns_for_investment, unit: "")%>
                          </td>
                          <td>The Returns for Investment</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td width="25%">Closing Costs</td>
                  <td width="25%">
                    <%= number_to_currency(@closing_costs[:rent], unit: "")%>
                  </td>
                  <td width="25%">
                    <%= number_to_currency(@closing_costs[:buy], unit: "")%>
                  </td>
                  <td>Closing Costs</td>
                </tr>
                <tr>
                  <td colspan="4" class="padding-0">
                    <table class="sub-table" width="100%">
                      <tbody>
                        <tr>
                          <td width="25%"></td>
                          <td width="25%"></td>
                          <td width="25%">
                            <%= number_to_currency(@closing_costs[:buy], unit: "")%>
                          </td>
                          <td width="25%">Cost of Selling House</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td width="25%">Proceeds from Moving</td>
                  <td width="25%">
                    <%= number_to_currency(@home_appreciation[:rent], unit: "")%>
                  </td>
                  <td width="25%">
                    <%= number_to_currency(@home_appreciation[:buy], unit: "")%>
                  </td>
                  <td>Proceeds from sale</td>
                </tr>
                <tr>
                  <td colspan="4" class="padding-0">
                    <table class="sub-table" width="100%">
                      <tbody>
                        <tr>
                          <td width="25%">Return of the rental security deposit</td>
                          <td width="25%">
                            <%= number_to_currency(@home_appreciation[:rent], unit: "")%>
                          </td>
                          <td width="25%">
                            <%= number_to_currency(@home_appreciation[:buy], unit: "")%>
                          </td>
                          <td width="25%">Home Value</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td width="25%">Total</td>
                  <td width="25%">
                    <%= number_to_currency(@costs_compare_sum[:rent], unit: "")%>
                  </td>
                  <td width="25%">
                    <%= number_to_currency(@costs_compare_sum[:buy], unit: "")%>
                  </td>
                  <td>Total</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="ex-breakdown">
          <h1>Home Ownership Affordability</h1>
          <div class="graph-wrapper tow-graph-wrapper">
            <p>Based on the strong historical housing growth in the entire United State and Mountain View CA, home Ownership is a Strong investment compared to renting with an estimated ROI of 10.42% based on the down payment principal.</p>
            <div class="row">
              <div class="col-sm-6">
                <div class="graph-bx">
                  <h2>Nationwide Home Prices</h2>
                  <div class="graph-container"></div>
                  <div id="nation-wide-affordability" style="height: 300px"></div>
                  <p>Nationwide home prices grew at an average of <%=@nation_wide_avg_five%> % over the past 5 years, <%=@nation_wide_avg_ten%> % over the past 10 years, and <%=@nation_wide_avg_thirty %> % over the past 30 years.</p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="graph-bx">
                  <h2>CA Homes Prices</h2>
                  <div class="graph-container"></div>
                  <div id="ca-affordability" style="height: 300px"></div>
                  <p>California home prices grew at an average of <%=@ca_avg_five%> % over the past 5 years. <%= @ca_avg_ten %> % over the past 10 years, and <%=@ca_avg_thirty%> % over the past 30 years.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
  $(document).ready(function(){
    ca_keys = <%= raw @ca_affordability.keys.reverse %>
    ca_values = <%= raw @ca_affordability.values.reverse %>
    nation_wide_keys = <%= raw @nation_wide_affordability.keys.reverse %>
    nation_wide_values = <%= raw @nation_wide_affordability.values.reverse %>
    area_chart_max = <%= raw @area_chart_max %>
    params_data = <%= raw params.to_json %>

    principle_values  = <%= raw @principle.values %>
    interest_values  = <%= raw @interest.values %>
    remaining_values  = <%= raw @remaining.values %>
    total_paid_values  = <%= raw @total_paid.values %>
    x_axis_max_value = <%= raw @principle.values.count %>

   $('#payoff-schedule-graph').highcharts({
          title: {
              text: '',
          },
          credits:{
            enabled: false
          },
          xAxis: {
            endOnTick: true,
            max: x_axis_max_value,
            min: 1
         },
          yAxis: {
              title: {
                  text: ''
              },
              plotLines: [{
                  value: 0,
                  width: 1,
                  color: '#808080'
              }],
              labels:{
                format: "{value}",
                formatter: function() {
                  var formatter2 = new Intl.NumberFormat('en-US', {
                      style: 'currency',
                      currency: 'USD',
                      minimumFractionDigits: 0
                    })
                    return (formatter2.format(this.value));
                  }
              }
          },
          tooltip: {
              valueSuffix: '',

              formatter:function(){
                var formatter2 = new Intl.NumberFormat('en-US', {
                      style: 'currency',
                      currency: 'USD',
                      minimumFractionDigits: 0
                    })
                    return '<b>'+ this.point.x+ '</b><br></br>' +this.series.name+': <b>'+ (formatter2.format(this.point.y)) +'</b><br/>'
              },
          },
          legend: {
              align: 'center',
              verticalAlign: 'bottom',
              borderWidth: 0
          },
          series: [{
              name: 'Principal',
              pointStart: 1,
              color:'#6495ed',
              lineWidth: 4,
              data: principle_values
          }, {
              name: 'Interest',
              pointStart: 1,
              dashStyle: 'dash',
              color:'#7FFF00',
              data: interest_values
          }, {
              name: 'Remaining',
              pointStart: 1,
              dashStyle: 'dash',
              color:'#C71585',
              data: remaining_values
          }, {
              name: 'Total Paid',
              pointStart: 1,
              color:'red',
              lineWidth: 5,
              data: total_paid_values
          }]
      });

    Highcharts.chart('ca-affordability', {
        chart: {
            type: 'area',
            backgroundColor: '#FFFF',
        },
        credits: {
            enabled: false
        },
        xAxis: {
            categories: ca_keys,
            labels:{
              rotation:-30,
            }
        },
        yAxis:{
          title: "",
          max: area_chart_max,
          gridLineDashStyle:"Dash",
        },
        plotOptions: {
            series: {
              stacking: 'normal'
            }
        },
        series: [{
            name: '',
            data: ca_values,
            color: "#4DD264",
            fillOpacity: 0.8,
            marker:{
              enabled: false
            }
        }],
        title: {
          align:"center",
          floating:false,
          margin:15,
          style:{ "color": "#333333", "fontSize": "18px" },
          text:undefined,
          useHTML:false,
          verticalAlign:undefined,
          widthAdjust:-44,
          x:0,
          y:undefined
        },
        legend: {
          enabled: false
        },
        tooltip: {
          pointFormat: '{point.y}',
          shadow: false,
          style: {
              fontSize: '14px',
              fontWeight: '800'
          }
        }
    });

    Highcharts.chart('nation-wide-affordability', {
        chart: {
            type: 'area',
            backgroundColor: '#FFFF',
        },
        credits: {
            enabled: false
        },
        xAxis: {
            categories: nation_wide_keys,
            labels:{
              rotation:-30,
            }
        },
        yAxis:{
          title: "",
          max: area_chart_max,
          gridLineDashStyle:"Dash",
        },
        plotOptions: {
            series: {
              stacking: 'normal'
            }
        },
        series: [{
            name: undefined,
            data: nation_wide_values,
            color: "#3C95D0",
            fillOpacity: 0.8,
            marker:{
              enabled: false
            }
        }],
        title: {
          align:"center",
          floating:false,
          margin:15,
          style:{ "color": "#333333", "fontSize": "18px" },
          text:undefined,
          useHTML:false,
          verticalAlign:undefined,
          widthAdjust:-44,
          x:0,
          y:undefined
        },
        legend: {
          enabled: false
        },
        tooltip: {
          pointFormat: '{point.y}',
          shadow: false,
          style: {
              fontSize: '14px',
              fontWeight: '800'
          }
        }
    });

    // get_todays_rate
    $("#today_rate").click(function(){
      var term = $('#mortgage_term').val()
      $.ajax({
        type:'GET',
        url:'/get_todays_rate',
        data: {mortgage_term: term},
        success:function(res){
        $('#annual_interest_rate').val(res["today_rate"] + '%')
        }
      });
    });

    $(".toggle-btn").click(function(){
      $(".toggle-container").toggle(500);
    });

    if ($('#mortgage_term').val()!=''){
      $('#mortgage_month').val(parseInt($('#mortgage_term').val())*12 + " "+ "month")
    }

    if($('#annual_interest_rate')!=''){
      var value = $('#annual_interest_rate').val()
      if (value.includes("%")) {
        value = value.replace('%%','%')
        value = value.replace('% %','%')
        value = value.replace('%%%','%')
        $('#annual_interest_rate').val(value)
      }
      else{
        $('#annual_interest_rate').val(value + "%")
      }
    }

    $(function () {
      $("#annual_interest_rate").change(function () {
        var value = $(this).val()
        if (value.includes("%")) {
          value = value.replace('%%','%')
          value = value.replace('% %','%')
          value = value.replace('%%%','%')
          $('#annual_interest_rate').val(value)
        }
        else{
          $('#annual_interest_rate').val(value + "%")
        }
      });
    });

    $(function () {
      $("#mortgage_term").change(function () {
        var selectedText = $(this).find("option:selected").text();
        var selectedValue = $(this).val();
        $('#mortgage_month').val(parseInt(selectedValue)*12 + " "+ "month")
      });
    });

  params_data['monthly_property_tax'] = $("#monthly_property_tax").val()
  params_data['monthly_home_insurance'] = $("#monthly_home_insurance").val()
  params_data['monthly_pmi_insurance'] = $("#monthly_pmi_insurance").val()
  params_data['monthly_hoa_dues'] = $("#monthly_hoa_dues").val()
  remove_keys = ['action','controller','mortgage_month','utf8']
  remove_keys.forEach(e => delete params_data[e]);

   $("#monthly_property_tax").add("#monthly_home_insurance").add("#monthly_pmi_insurance").add("#monthly_hoa_dues").each(function (){
        $(this).maskMoney().maskMoney('mask',Number($(this).val()));
    });

    $("#monthly_property_tax").add("#monthly_home_insurance").add("#monthly_pmi_insurance").add("#monthly_hoa_dues").change(function() {
       params_data[this.name] = Number($(this).val().replace(/[^0-9.-]+/g,""));
      $.ajax({
       type: "GET",
       url: "/calculator",
       data : params_data,
       dataType: "script",
      });
    });

  window.onscroll = function() {myFunction()};

  var header = document.getElementById("myHeader");
  var sticky = header.offsetTop;

  function myFunction() {
    if (window.pageYOffset > sticky) {
      header.classList.add("sticky");
    } else {
      header.classList.remove("sticky");
    }
  }
  });
</script>
