
<!-- <.....form wrapper.... -->
<section class="form-wrapper" id="myHeader">
  <%= form_tag(calculator_path, method: :get) do %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-7">
              <div class="row form-row">
                <div class="col-md-3 col-xs-6">
                  <div class="form-group">
                    <label>Zip Code</label>
                    <%= text_field_tag :zip_code, @zip_code, :class=> "form-control" %>
                  </div>
                </div>
                <div class="col-md-3 col-xs-6">
                  <div class="form-group search-section">
                    <label>Purpose</label>
                    <span class="purpose-span">
                      <%= select_tag 'purpose', options_for_select(@purpose_list), :class=> "form-control" %>
                    </span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Home Price</label>
                    <div class="dollar-icn">$</div>
                    <%= text_field_tag :home_price, number_to_currency(@home_price, :unit=> "", precision: 0), :class=> "form-control" %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Down Payment</label>
                    <div class="dollar-icn">$</div>
                    <%= text_field_tag :down_payment,number_to_currency(@down_payment,  :unit=> "", precision: 0), :class=> "form-control" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="row form-row">
                <div class="col-md-7">
                  <div class="form-group">
                    <label>Mortgage Term</label>
                    <div class="flex-group">
                      <div class="search-section">
                        <%= select_tag 'mortgage_term', options_for_select(@mortgage_term_list, @mortgage_term), :class=> "form-control" %>
                      </div>
                      <%= text_field_tag :mortgage_month, '', :class=> "form-control padding-left" %>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div>
                    <label>Annual Interst Rate</label>
                    <%= text_field_tag :annual_interest_rate, @annual_interest_rate, :class=> "form-control" %>
                    <a href="JavaScript:Void(0);" id="today_rate" class="link-to">Use Today's Rate</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <%= submit_tag "Calculate Mortgage", :class => "btn btn-block primary-btn" %>
          <a href="#" class="btn btn-block border-btn">Get Latest Rates</a>
        </div>
      </div>
    </div>
  <% end %>
</section>
<!-- <.....form wrapper end.... -->
<!-- <.....main content wrapper.... -->
<section class="contain-wrapper">
  <%= render partial: "wrapper" %>
</section>
<!-- <.....main content wrapper end .... -->

<!-- The Payoff Schedule Modal -->
<div class="modal" id="payoff_schedule_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Monthly Payoff Schedule</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body ex-breakdown">
        <div class="scroll-table mCustomScrollbar">
          <table class="table table-striped">
            <thead>
              <tr>
                <th width="5%"></th>
                <th align="center">
                  <center>Principal</center>
                </th>
                <th>Interet</th>
                <th>Remainging</th>
              </tr>
            </thead>
            <tbody>
                <%
                if @monthly_payoff_list.present?
                  %>
                  <tr>
                    <td align="center"></td>
                    <td></td>
                    <td></td>
                    <td align="center">
                      <%= (@home_price - @down_payment).to_f %>
                    </td>
                  </tr>
                  <%
                  @monthly_payoff_list.each do |monthly_payoff, index|
                  %>
                    <tr>
                      <td align="center"><%= monthly_payoff[:month] %></td>
                      <td align="center"><%= number_to_currency(monthly_payoff[:payoff_principal]) %></td>
                      <td align="center"><%= monthly_payoff[:payoff_interest] %></td>
                      <td align="center"><%= number_to_currency(monthly_payoff[:payoff_remaining]) %></td>
                    </tr>
                  <%
                  end
                end
                %>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    ca_keys = <%= raw @ca_affordability.keys.reverse %>
    ca_values = <%= raw @ca_affordability.values.reverse %>
    nation_wide_keys = <%= raw @nation_wide_affordability.keys.reverse %>
    nation_wide_values = <%= raw @nation_wide_affordability.values.reverse %>
    area_chart_max = <%= raw @area_chart_max %>
    params_data = <%= raw params.to_json %>

    principle_values  = <%= raw @principle.values %>
    interest_values  = <%= raw @interest.values %>
    remaining_values  = <%= raw @remaining.values %>
    total_paid_values  = <%= raw @total_paid.values %>
    x_axis_max_value = <%= raw @principle.values.count %>

    $('#payoff-schedule-graph').highcharts({
        title: {
            text: '',
        },
        credits:{
          enabled: false
        },
        xAxis: {
          endOnTick: true,
          max: x_axis_max_value,
          min: 1
       },
        yAxis: {
            title: {
                text: ''
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
            labels:{
              format: "{value}",
              formatter: function() {
                var formatter2 = new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'USD',
                    minimumFractionDigits: 0
                  })
                  return (formatter2.format(this.value));
                }
            }
        },
        tooltip: {
            valueSuffix: '',

            formatter:function(){
              var formatter2 = new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'USD',
                    minimumFractionDigits: 0
                  })
                  return '<b>'+ this.point.x+ '</b><br></br>' +this.series.name+': <b>'+ (formatter2.format(this.point.y)) +'</b><br/>'
            },
        },
        legend: {
            align: 'center',
            verticalAlign: 'bottom',
            borderWidth: 0
        },
        series: [{
            name: 'Principal',
            pointStart: 1,
            color:'#6495ed',
            lineWidth: 4,
            data: principle_values
        }, {
            name: 'Interest',
            pointStart: 1,
            dashStyle: 'dash',
            color:'#7FFF00',
            data: interest_values
        }, {
            name: 'Remaining',
            pointStart: 1,
            dashStyle: 'dash',
            color:'#C71585',
            data: remaining_values
        }, {
            name: 'Total Paid',
            pointStart: 1,
            color:'red',
            lineWidth: 5,
            data: total_paid_values
        }]
    });

    Highcharts.chart('ca-affordability', {
        chart: {
            type: 'area',
            backgroundColor: '#FFFF',
        },
        credits: {
            enabled: false
        },
        xAxis: {
            categories: ca_keys,
            labels:{
              rotation:-30,
            }
        },
        yAxis:{
          title: "",
          max: area_chart_max,
          gridLineDashStyle:"Dash",
        },
        plotOptions: {
            series: {
              stacking: 'normal'
            }
        },
        series: [{
            name: '',
            data: ca_values,
            color: "#4DD264",
            fillOpacity: 0.8,
            marker:{
              enabled: false
            }
        }],
        title: {
          align:"center",
          floating:false,
          margin:15,
          style:{ "color": "#333333", "fontSize": "18px" },
          text:undefined,
          useHTML:false,
          verticalAlign:undefined,
          widthAdjust:-44,
          x:0,
          y:undefined
        },
        legend: {
          enabled: false
        },
        tooltip: {
          pointFormat: '{point.y}',
          shadow: false,
          style: {
              fontSize: '14px',
              fontWeight: '800'
          }
        }
    });

    Highcharts.chart('nation-wide-affordability', {
        chart: {
            type: 'area',
            backgroundColor: '#FFFF',
        },
        credits: {
            enabled: false
        },
        xAxis: {
            categories: nation_wide_keys,
            labels:{
              rotation:-30,
            }
        },
        yAxis:{
          title: "",
          max: area_chart_max,
          gridLineDashStyle:"Dash",
        },
        plotOptions: {
            series: {
              stacking: 'normal'
            }
        },
        series: [{
            name: undefined,
            data: nation_wide_values,
            color: "#3C95D0",
            fillOpacity: 0.8,
            marker:{
              enabled: false
            }
        }],
        title: {
          align:"center",
          floating:false,
          margin:15,
          style:{ "color": "#333333", "fontSize": "18px" },
          text:undefined,
          useHTML:false,
          verticalAlign:undefined,
          widthAdjust:-44,
          x:0,
          y:undefined
        },
        legend: {
          enabled: false
        },
        tooltip: {
          pointFormat: '{point.y}',
          shadow: false,
          style: {
              fontSize: '14px',
              fontWeight: '800'
          }
        }
    });
  });
  $(document).ready(function(){

    // get_todays_rate
    $("#today_rate").click(function(){
      var term = $('#mortgage_term').val()
      $.ajax({
        type:'GET',
        url:'/get_todays_rate',
        data: {mortgage_term: term},
        success:function(res){
        $('#annual_interest_rate').val(res["today_rate"] + '%')
        }
      });
    });

    $(".toggle-btn").click(function(){
      $(".toggle-container").toggle(500);
    });

    if ($('#mortgage_term').val()!=''){
      $('#mortgage_month').val(parseInt($('#mortgage_term').val())*12 + " "+ "month")
    }

    if($('#annual_interest_rate')!=''){
      var value = $('#annual_interest_rate').val()
      if (value.includes("%")) {
        value = value.replace('%%','%')
        value = value.replace('% %','%')
        value = value.replace('%%%','%')
        $('#annual_interest_rate').val(value)
      }
      else{
        $('#annual_interest_rate').val(value + "%")
      }
    }

    $(function () {
      $("#annual_interest_rate").change(function () {
        var value = $(this).val()
        if (value.includes("%")) {
          value = value.replace('%%','%')
          value = value.replace('% %','%')
          value = value.replace('%%%','%')
          $('#annual_interest_rate').val(value)
        }
        else{
          $('#annual_interest_rate').val(value + "%")
        }
      });
    });

    $(function () {
      $("#mortgage_term").change(function () {
        var selectedText = $(this).find("option:selected").text();
        var selectedValue = $(this).val();
        $('#mortgage_month').val(parseInt(selectedValue)*12 + " "+ "month")
      });
    });
  });
  $(document).ready(function(){
    params_data['monthly_property_tax'] = $("#monthly_property_tax").val()
    params_data['monthly_home_insurance'] = $("#monthly_home_insurance").val()
    params_data['monthly_pmi_insurance'] = $("#monthly_pmi_insurance").val()
    params_data['monthly_hoa_dues'] = $("#monthly_hoa_dues").val()
    remove_keys = ['action','controller','mortgage_month','utf8']
    remove_keys.forEach(e => delete params_data[e]);

    $("#monthly_property_tax, #monthly_home_insurance, #monthly_pmi_insurance, #monthly_hoa_dues").each(function (){
      $(this).maskMoney().maskMoney('mask',Number($(this).val()));
    });

    $("#monthly_property_tax").add("#monthly_home_insurance").add("#monthly_pmi_insurance").add("#monthly_hoa_dues").change(function() {
       params_data[this.name] = Number($(this).val().replace(/[^0-9.-]+/g,""));
      $.ajax({
       type: "GET",
       url: "/calculator",
       data : params_data,
       dataType: "script",
      });
    });

    window.onscroll = function() {myFunction()};

    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }
  });
</script>
