
<!-- <.....form wrapper.... -->
<section class="form-wrapper" id="myHeader">
  <%= form_tag(calculator_path, method: :get, :id => 'calculator_form') do %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-7">
              <div class="row form-row">
                <div class="col-md-3 col-xs-6">
                  <div class="form-group">
                    <label>Zip Code</label>
                    <%= text_field_tag :zip_code, @zip_code, :class=> "form-control" %>
                  </div>
                </div>
                <div class="col-md-3 col-xs-6">
                  <div class="form-group search-section">
                    <label>Purpose</label>
                    <span class="purpose-span">
                      <%= select_tag 'purpose', options_for_select(@purpose_list), :class=> "form-control" %>
                    </span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Home Price</label>
                    <div class="dollar-icn">$</div>
                    <%= text_field_tag :home_price, number_to_currency(@home_price, :unit=> "", precision: 0), :class=> "form-control" %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Down Payment</label>
                    <div class="dollar-icn">$</div>
                    <%= text_field_tag :down_payment,number_to_currency(@down_payment,  :unit=> "", precision: 0), :class=> "form-control" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="row form-row">
                <div class="col-md-7">
                  <div class="form-group">
                    <label>Mortgage Term</label>
                    <div class="flex-group">
                      <div class="search-section">
                        <%= select_tag 'mortgage_term', options_for_select(@mortgage_term_list, @mortgage_term), :class=> "form-control" %>
                      </div>
                      <%= text_field_tag :mortgage_month, '', :class=> "form-control padding-left" %>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div>
                    <label>Annual Interst Rate</label>
                    <%= text_field_tag :annual_interest_rate, @annual_interest_rate, :class=> "form-control" %>
                    <a href="JavaScript:Void(0);" id="today_rate" class="link-to">Use Today's Rate</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <%= submit_tag "Calculate Mortgage", :class => "btn btn-block primary-btn" %>
          <a href="#" class="btn btn-block border-btn">Get Latest Rates</a>
        </div>
      </div>
    </div>
  <% end %>
</section>
<!-- <.....form wrapper end.... -->
<!-- <.....main content wrapper.... -->
<section class="contain-wrapper">
  <%= render partial: "wrapper" %>
</section>
<!-- <.....main content wrapper end .... -->

<!-- The Payoff Schedule Modal -->
<div class="modal" id="payoff_schedule_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Monthly Payoff Schedule</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body ex-breakdown">
        <div class="scroll-table mCustomScrollbar">
          <table class="table table-striped">
            <thead>
              <tr>
                <th width="5%"></th>
                <th align="center">
                  <center>Principal</center>
                </th>
                <th>Interet</th>
                <th>Remainging</th>
              </tr>
            </thead>
            <tbody>
                <%
                if @monthly_payoff_list.present?
                  %>
                  <tr>
                    <td align="center"></td>
                    <td></td>
                    <td></td>
                    <td align="center">
                      <%= (@home_price - @down_payment).to_f %>
                    </td>
                  </tr>
                  <%
                  @monthly_payoff_list.each do |monthly_payoff, index|
                  %>
                    <tr>
                      <td align="center"><%= monthly_payoff[:month] %></td>
                      <td align="center"><%= number_to_currency(monthly_payoff[:payoff_principal]) %></td>
                      <td align="center"><%= monthly_payoff[:payoff_interest] %></td>
                      <td align="center"><%= number_to_currency(monthly_payoff[:payoff_remaining]) %></td>
                    </tr>
                  <%
                  end
                end
                %>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>