<div class="modal-dialog">
  <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Monthly Payoff Schedule</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <!-- Modal body -->
    <div class="modal-body ex-breakdown">
      <div class="scroll-table mCustomScrollbar">
        <table class="table table-striped">
          <thead>
            <tr>
              <th width="5%"></th>
              <th align="center">
                <center>Principal</center>
              </th>
              <th>Interet</th>
              <th>Remainging</th>
            </tr>
          </thead>
          <tbody>
              <%
              if @monthly_payoff_list.present?
                %>
                <tr>
                  <td align="center"></td>
                  <td></td>
                  <td></td>
                  <td align="center">
                    <%= (@home_price - @down_payment).to_f %>
                  </td>
                </tr>
                <%
                @monthly_payoff_list.each do |monthly_payoff, index|
                %>
                  <tr>
                    <td align="center"><%= monthly_payoff[:month] %></td>
                    <td align="center"><%= number_to_currency(monthly_payoff[:payoff_principal]) %></td>
                    <td align="center"><%= monthly_payoff[:payoff_interest] %></td>
                    <td align="center"><%= number_to_currency(monthly_payoff[:payoff_remaining]) %></td>
                  </tr>
                <%
                end
              end
              %>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
