<!-- seo bank auto loan start-->
<section class="content-main terms-page seo-auto-loan autoloan-top-sectn-cntrl">
   <div class="container">
      <!--Bank of America Auto Loans section end-->
      <div class="seo-auto-loan-cntnt-box mb-bg-gray seo-loan-cntnt-box-chnge">
         <div class="col-xs-12 col-md-8 our-story-cntnt">
            <div class="gray-box-cntnt seo_bank_auto_loan_top" id='bank_content'>
               <h3>
                  <%=@bank.name%> Auto Loans
                  <div class="star-box pull-right">
                     <img src="/images/star_03.png" alt="">
                     <img src="/images/star_03.png" alt="">
                     <img src="/images/star_03.png" alt="">
                     <img src="/images/star_03.png" alt="">
                     <img src="/images/star_03.png" alt="">
                  </div>
               </h3>
               <p><%=@bank.name%> makes <%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.a_lnlsgr * 1000).round(-3), precision: 0) : '$0'%> total loans annually of which <%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.a_lnauto * 1000).round(-3), precision: 0) : '$0'%> are auto loans, amounting to <%= @fdic_cal_data.present? ? ((@fdic_cal_data.a_lnauto/@fdic_cal_data.a_lnlsgr) * 100).round(1) : '$0' %> % of the entire loan portfolio.  The maximum credit exposure of <%=@bank.name%>'s car and auto financings are <%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.a_szioauto * 1000).round(-3), precision: 0) : '$0'%>.</p>
               <div class="space-row"></div>
               <p class="mb-hide-spl"> Below are some other banks and lending institutions that specialize in low-cost auto and car loans for your research.</p>
               <span href="" id="para-see-more-link" class="initial-section">See More</span>
            </div>
         </div>
         <div class="col-xs-12 col-md-4 seo-bank-cntn-white-bg seo-bank-cntn-top-white-bg mb-hide-spl" id="bank_details">
            <h3><%=@bank.name%></h3>
            <p>Founded <%=@bank.estymd.to_date.strftime("%B %d, %Y")%></br>
               FDIC Certificate Number - <%=@bank.cert%></br>
               <%=@bank.address+', '+@bank.city+', '+@bank.stname%>
            </p>
            <p class="seo-bank-cntn-white-bg-info"><span>Total Assets:</span> <%=number_to_currency((asset_and_dep_formatting(@bank.asset) * 1000).round(-3) , precision: 0)%></p>
            <p class="seo-bank-cntn-white-bg-info"><span>Total Deposits:</span> <%= number_to_currency((asset_and_dep_formatting(@bank.dep) * 1000).round(-3), precision: 0)%></p>
         </div>
      </div>
      <!--Bank of America Auto Loans section end-->
      <!--Upstart section start-->
      <div class="seo-auto-loan-cntnt-box seo-auto-loan-cntnt-box2 mb-bg-none">
         <div class="col-xs-12 col-md-9 our-story-cntnt ">
            <div class="gray-box-cntnt">
               <h3>
                  Upstart Auto Loans
                  <div class="star-box pull-right">
                     <img src="/images/star_03.png" alt="">
                     <img src="/images/star_03.png" alt="">
                     <img src="/images/star_03.png" alt="">
                     <img src="/images/star_03.png" alt="">
                     <img src="/images/star_03.png" alt="">
                  </div>
                  <span>Up to $40,000, starting 5.99%</span>
               </h3>
               <p>Looking for a lower monthly car loan payment? By refinancing your car loan via Upstart, you could lower your monthly car payments, which will leave you with more money in your pocket every month. The whole process is easy and completely online.</p>
               <div class="space-row"></div>
               <p>All car loans feature an affordable fixed rate, which means your monthly payment will never increase. And there is no prepayment penalty so you have the flexibility to pay off your car loan at any time.</p>
            </div>
         </div>
         <div class="col-xs-12 col-md-3 seo-bank-cntn-white-bg text-center">
            <img src="/images/seo-auto-loan-img2.png" alt="">
            <%= link_to "Apply", "https://www.upstart.com", target: :_blank, class: 'apply-btn'%>
         </div>
      </div>
      <!--Upstart section end-->
      <!--One Main Financial section start-->
      <div class="seo-auto-loan-cntnt-box seo-auto-loan-cntnt-box2">
         <div class="col-xs-12 col-md-9 our-story-cntnt ">
            <div class="gray-box-cntnt">
               <h3>
                  One Main Financial Auto Loans
                  <div class="star-box pull-right">
                     <img src="/images/star_03.png" alt="">
                     <img src="/images/star_03.png" alt="">
                     <img src="/images/star_03.png" alt="">
                     <img src="/images/star_03.png" alt="">
                     <img src="/images/star_half.png" alt="">
                  </div>
                  <span>Up to $40,000, starting 5.99%</span>
               </h3>
               <p>A car loan through OneMain Financial can provide an easy way to get that special car when other lenders may be saying no to car loans.  If you have good credit, you’re a perfect candidate for a personal loan through One Main Financial.  Get low fixed rates without any of the hidden fees and red tape associated with other types of loans.</p>
            </div>
         </div>
         <div class="col-xs-12 col-md-3 seo-bank-cntn-white-bg text-center">
            <img src="/images/seo-auto-loan-img3.png" alt="">
            <!-- <a href="" class="apply-btn">Apply</a> -->
            <%= link_to "Apply", "https://www.onemainfinancial.com/personal-loans/car-purchase", target: :_blank, class: 'apply-btn'%>
         </div>
      </div>
      <!--One Main Financial section end-->
      <!--Light Stream section start-->
      <div class="seo-auto-loan-cntnt-box seo-auto-loan-cntnt-box2 mb-bg-none">
         <div class="row">
         <div class="col-xs-12 col-md-9 our-story-cntnt ">
            <div class="gray-box-cntnt">
               <h3>
                  Light Stream Auto Loans
                  <div class="star-box pull-right">
                     <img src="/images/star_03.png" alt="">
                     <img src="/images/star_03.png" alt="">
                     <img src="/images/star_03.png" alt="">
                     <img src="/images/star_03.png" alt="">
                     <img src="/images/star_half.png" alt="">
                  </div>
                  <span>Up to $40,000, starting 5.99%</span>
               </h3>
               <p>Light Stream has over 350,000 customers to date.  Light Stream prides itself on loan transparency.  You’ll always know what you pay. There are no hidden fees and no collateral needed for an unsecured loan.</p>
            </div>
         </div>
         <div class="col-xs-12 col-md-3 seo-bank-cntn-white-bg text-center">
            <img src="/images/seo-auto-loan-img1.png" alt="">
            <%= link_to "Apply", "https://www.lightstream.com/auto-loans", target: :_blank, class: 'apply-btn'%>
         </div>
         </div>
      </div>
      <!--Light Stream section end-->
      <!--Volume of Auto Loan start-->
      <div class="volume-auto-loan">
         <h2 class="tab_blue_content">Volume of Auto Loan at <%=@bank.name%></h2>
         <div class="volume-auto-loan-row">
            <p class="vol-row-inner">Auto loans -consolidated basis</p>
            <span><%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.a_lnauto * 1000).round(-3), precision: 0) : '$0'%></span>
         </div>
         <div class="volume-auto-loan-row bg-white">
            <p class="vol-row-inner">Auto loans -nonaccrual automobile loans to individuals</p>
            <span><%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.a_naauto * 1000).round(-3), precision: 0) : '$0'%></span>
         </div>
         
         <div class="volume-auto-loan-row ">
            <p class="vol-row-inner">Auto loans -assets sold with recourse</p>
            <span><%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.a_asdrauto * 1000).round(-3), precision: 0) : '$0'%></span>
         </div>

         <div class="volume-auto-loan-row bg-white">
            <p class="vol-row-inner">Auto loans -maximum exposure due to letters of credit</p>
            <span><%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.a_idslcaut * 1000).round(-3), precision: 0) : '$0'%></span>
         </div>
         <div class="volume-auto-loan-row ">
            <p class="vol-row-inner">Auto loans -credit enhancements</p>
            <span><%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.a_enceauto * 1000).round(-3), precision: 0) : '$0'%></span>
         </div>
        <div class="mb-hide" id="fdic_auto_loan_data_section">
            <div class="volume-auto-loan-row bg-white">
              <p class="vol-row-inner">Bank securitization, principal balance on auto loans</p>
              <span><%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.a_szlauto * 1000).round(-3), precision: 0) : '$0'%></span>
            </div>

           <div class="volume-auto-loan-row">
              <p class="vol-row-inner">Credit exposure in retained interest in auto loans</p>
              <span><%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.a_szioauto * 1000).round(-3), precision: 0) : '$0'%></span>
           </div>

           <div class="volume-auto-loan-row bg-white">
              <p class="vol-row-inner">Credit exposure in subordinated securities in auto loans</p>
              <span><%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.a_szsscaut * 1000).round(-3), precision: 0) : '$0'%></span>
           </div>

           <div class="volume-auto-loan-row">
              <p class="vol-row-inner">Bank's unused commitments auto loans</p>
              <span><%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.a_szucauto * 1000).round(-3), precision: 0) : '$0'%></span>
           </div>

           <div class="volume-auto-loan-row bg-white">
              <p class="vol-row-inner">Bank's unused commitments liquidity auto loans</p>
              <span><%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.a_ucszauto * 1000).round(-3), precision: 0) : '$0'%></span>
           </div>
        </div>
        <button class= "show-all-specialst-btn mb-only pull-right see-more-fdic" id="fdic_auto_loan_data_section_btn">See More</button>
         <a class="seo-loan-aftr-cntnt-link" href="">Data produced from US Government reported Financials</a>
      </div>
      <!--Volume of Auto Loan end-->
      <!--Bank of America Personal Loan Chargeoffs, Recoveries section start-->
      <div class="volume-auto-loan loan-chargeoff-recovry">
         <h2 class="tab_blue_content"><%=@bank.name%> Auto Loan Chargeoffs, Recoveries </h2>
         <p> For <%=@bank.name%>'s securitized auto loans, the charge-offs amount to <%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.a_szdrauto * 1000).round(-3), precision: 0) : '$0'%> and the recoveries amount to <%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.a_szcrauto * 1000).round(-3), precision: 0) : '$0'%>.
         <p>
          <!-- a_szcrauto column not -->
         For general car loans, the charge-offs amount to <%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.a_drauto * 1000).round(-3), precision: 0) : '$0'%> and the recoveries amount to <%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.a_crauto * 1000).round(-3), precision: 0) : '$0'%>. This results in a net charge-offs of automobile loans debited to the allowance for loan and lease losses of <%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.a_ntauto * 1000).round(-3), precision: 0) : '$0'%>.
         </p>
         <p>
            An additional figure for loan performance are automobile loans to individuals for household, family and other personal expenditures that are past due  still and accruing interest.
         </p>
         <p class="loan-chargeoff-recovry-inner-data"><span>Past Due 30 -89 days</span> Past Due 90+ days</p>
         <p class="loan-chargeoff-recovry-inner-data"><span><%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.a_p3auto * 1000).round(-3), precision: 0) : '$0'%></span> <%= @fdic_cal_data.present? ? number_to_currency((@fdic_cal_data.a_p9auto * 1000).round(-3), precision: 0) : '$0'%></p>
         <a class="seo-loan-aftr-cntnt-link" href="">Data produced from US Government reported Financials</a>
      </div>
      <!--Bank of America Personal Loan Chargeoffs, Recoveries section end-->
      <!--Used Car Loans Officers section start-->
      <div class="volume-auto-loan seo-auto-loan-tabs">
         <h2 class="tab_blue_content"><%=@bank.name%> New and Used Car Loans Officers</h2>
         <!--Used Car Loans desktop section end-->
         <div class="tabs-data-main desktop-tabs-data">
            <div class="tabs-data-hdng">
               <div class="col-xs-12 col-md-6">Name</div>
               <div class="col-xs-12 col-md-6">Contact</div>
            </div>
               <%if @loan_officers.present? %>
                  <%@loan_officers.each do |loan_officer|%>
                  <div class="tabs-data-row">
                    <div class="col-xs-12 col-md-6">
                        <p><%= remove_unnecessary_keywords(loan_officer.try(:first)) %> <%=remove_unnecessary_keywords(loan_officer.try(:last))%></p>
                        <p><%= remove_unnecessary_keywords(loan_officer.title)%></p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                         <p><%= loan_officer.phone1.present? ? mobile_no_formatting(loan_officer.phone1) : 
                          loan_officer.phone2.present? ? mobile_no_formatting(loan_officer.phone2) : mobile_no_formatting(loan_officer.cell)%></p>
                    </div>
                  </div>
                <%end%>
               <%else%>
                  <div class="tabs-data-row no-record-box">
                        No Records Found
                   </div>
               <%end%>
         </div>
         <!--Used Car Loans Officers mobile tabs -->
         <div class="tabs-data-main tabs-accordians-box">
            <div class="panel-group">
             <%if @loan_officers.present?%>
              <%@loan_officers.first(3).each_with_index do |loan_officer, i|%>
                 <div class="panel panel-default">
                    <div class="panel-heading tabs-data-hdng">
                       <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse_<%=i.to_s%>">
                         <%= remove_unnecessary_keywords(loan_officer.try(:first))%> <%=remove_unnecessary_keywords(loan_officer.try(:last))%>
                         <br>
                         <%= remove_unnecessary_keywords(loan_officer.title)%>
                       </a>
                    </div>
                    <div id="collapse_<%=i.to_s%>" class="panel-collapse collapse">
                       <div class="tabs-data-row">
                          <div class="col-xs-12 col-md-12">
                             <h5>Contact</h5>
                              <p><%= loan_officer.phone1.present? ? mobile_no_formatting(loan_officer.phone1) : mobile_no_formatting(loan_officer.phone2)%></p>
                          </div>
                       </div>
                    </div>
                 </div>
               <%end%>
               <%else%>
                   <div class="tabs-data-row no-record-box">
                     No Records Found
                   </div>
               <%end%>
            </div>
         </div>
      </div>
      <!--Used Car Loans Officers section end-->
      
      <!-- News section starts from here -->
      <div class="volume-auto-loan full-width">
         <h2 class="tab_blue_content">News on Car and Auto Loans from <%=@bank.name%></h2>
            <div class="mb-hide">
              <%if @news_articles.present? %>
                <%@news_articles.each_with_index do |na, i|%>
                  <%if i < 5%>
                   <div class="car-auto-loan-news">
                     <h6><%=link_to na.headline.truncate(42), na.url, target: "_blank"%></h6>
                      <p><%=na.text.truncate(130)%>,  <%#=link_to "more info", na.url, target: "_blank"%></p>          
                   </div>
                  <%else%>
                    <div id='news_data_<%=i.to_s%>' style= "display:none;">  
                      <div class="car-auto-loan-news">
                       <h6><%=link_to na.headline.truncate(42), na.url, target: "_blank"%></h6>
                        <p><%=na.text.truncate(130)%>,  <%#=link_to "more info", na.url, target: "_blank"%></p>        
                      </div>
                    </div>
                  <%end%>
                <%end%>
                <%if @news_articles.count > 5%>
                  <div class="full-width">
                    <button class= "show-all-specialst-btn" id="desktop_news">See More</button>
                   </div> 
                <%end%>   
              <%else%>
                <div class="car-auto-loan-news no-record-box">
                    No Records Found
                </div>
              <%end%>
           </div>
            <!-- for mobile view -->
            <div class="mb-only">
              <%if @news_articles.present?%>
                <%@news_articles.each_with_index do |na, i|%>
                  <%if i < 3 %>
                    <div class="car-auto-loan-news">
                      <h6><%=link_to na.headline.truncate(50), na.url, target: "_blank"%></h6> 
                        <p><%=na.text.truncate(72)%>,  <%#=link_to "more info", na.url, target: "_blank"%></p>
                    </div>
                  <%else%>
                    <div id='mobile_news_articles_data_<%=i.to_s%>' style= "display:none;">
                      <div class="car-auto-loan-news">
                        <h6><%=link_to na.headline.truncate(50), na.url, target: "_blank"%></h6> 
                          <p><%=na.text.truncate(72)%>,  <%#=link_to "more info", na.url, target: "_blank"%></p>
                      </div>
                    </div>  
                  <%end%>  
                <%end%>
                <%if @news_articles.count > 3%>
                  <div class="news-see-more">
                    <a class= "news-see-more-link pull-right see-more-fdic" id="mobile_news_data">See More</a>
                  </div>
                <%end%>  
              <%else%>
                <div class="car-auto-loan-news">
                    No Records Found
                </div>
              <%end%>
            </div>
      </div>
      <!-- News sections ends here -->

      <div class="volume-auto-loan full-width loan-detail-blocks car-auto-loan-othr-bank-box">
         <h3 class="tab_blue_content">Auto Loans from Banks Similar to <%=@bank.name%></h3>
         <div class="car-auto-loan-othr-bank">
            <%if @near_by_banks.present? %>
            <%@near_by_banks.each do |nbb|%>
              <%=link_to nbb.name, bank_home_auto_loan_path(cert: nbb.cert,bank_name: custom_path(nbb.name)) %>
              <%end%>
            <%else%>
            <div class="car-auto-loan-news no-record-box">
               No Records Found
            </div>
            <%end%>
         </div>
      </div>
   </div>
</section>
<!-- search result feed end-->
<!-- advance search mobile start-->
<!-- <div class="modal fade" id="advance-srch-mb" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Advanced Options</h4>
            <a href="">Reset</a>
         </div>
         <div class="modal-body">
            <div class="search-main adv-search-mb">
               <div class="search-cat zip-srch">
                  <label>Zip Code</label>
                  <input placeholder="123456" type="text">
               </div>
               <div class="search-cat purpse-srch">
                  <label>Purpose</label>
                  <select>
                     <option>Purchase</option>
                  </select>
               </div>
               <div class="search-cat price-srch">
                  <label>Home Price</label>
                  <div class="dollar-icn">$</div>
                  <input placeholder="123456" type="text">
               </div>
               <div class="search-cat price-srch">
                  <label>Down Payment</label>
                  <div class="dollar-icn">$</div>
                  <input placeholder="123456" type="text">
               </div>
               <div class="search-cat cr-srch">
                  <label>Credit Score</label>
                  <select>
                     <option>750+</option>
                  </select>
               </div>
               <div class="search-adv-option-box">
                  <div class="search-adv-option">
                     <div class="row">
                        <h4>desired loan programs?</h4>
                        <div class="col-xs-12 col-md-2 advance-check">
                           <div class="form-group"><input value="" type="checkbox"> 30 Year Fixed</div>
                           <div class="form-group"><input value="" type="checkbox"> 20 Year Fixed</div>
                           <div class="form-group"><input value="" type="checkbox"> 15 Year Fixed</div>
                           <div class="form-group"><input value="" type="checkbox"> 10 Year Fixed</div>
                           <div class="form-group"><input value="" type="checkbox"> 7/1 Arm</div>
                           <div class="form-group"><input value="" type="checkbox"> 5/1 Arm</div>
                           <div class="form-group"><input value="" type="checkbox"> 3/1 Arm</div>
                        </div>
                        <div class="col-xs-12 col-md-3 drpdown-box">
                           <select>
                              <option>Select Occupancy</option>
                           </select>
                           <select>
                              <option>Select Occupancy</option>
                           </select>
                           <select>
                              <option>Select Occupancy</option>
                           </select>
                           <select>
                              <option>Select Occupancy</option>
                           </select>
                        </div>
                        <div class="col-xs-12 col-md-4 drpdown-box">
                           <select>
                              <option>Select Prepay Penalty</option>
                           </select>
                           <label>Cash Reserves (mos)</label>
                           <select>
                              <option>$ 15</option>
                           </select>
                           <label>Monthly Debt</label>
                           <select>
                              <option>$ 0</option>
                           </select>
                           <label>Monthly Income</label>
                           <select>
                              <option>$ 5,000</option>
                           </select>
                        </div>
                        <div class="col-xs-12 col-md-3 advance-check top-bordr-only">
                           <p>Owned Properties <span>01</span></p>
                           <div class="form-group"><input value="" type="checkbox"> Interest Only</div>
                           <div class="form-group"><input value="" type="checkbox"> Hazard Insuarance Waived</div>
                           <div class="form-group"><input value="" type="checkbox"> Property Taxes Waived</div>
                           <div class="form-group"><input value="" type="checkbox"> First Time Home Buyer</div>
                           <div class="form-group"><input value="" type="checkbox"> Non Perm Resident Alien</div>
                           <div class="form-group"><input value="" type="checkbox"> Foreign National</div>
                           <div class="form-group"><input value="" type="checkbox"> Miltary</div>
                           <div class="form-group"><input value="" type="checkbox"> Rular</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button class="rates-btn">Get Rates</button>
         </div>
      </div>
   </div>
</div> -->
<!-- advance search mobile end-->

<!-- Script for performing see more and hide functionality for News section  -->
<script type="text/javascript">
  // section for web view
  $("#desktop_news").click(function(){
    <%(5..9).each do |i|%>
      $("#news_data_<%=i.to_s%>").toggle();
    <%end%>
    $("#desktop_news").hide();
  });
  $("#mobile_news_data").click(function(){
  //section for mobile view 
     <%(3..9).each do |i|%>
      $("#mobile_news_articles_data_<%=i.to_s%>").toggle();
    <%end%>
    $("#mobile_news_data").hide();
  })

  $(".initial-section").click(function(){
    $("#bank_details").addClass('show-box');
  $(".initial-section").hide();
  })
  $("#fdic_auto_loan_data_section_btn").click(function(){
    $("#fdic_auto_loan_data_section").removeClass("mb-hide");
  $("#fdic_auto_loan_data_section_btn").hide();
  })
</script>