<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi Admin</h3>
      <b><u>Research Post Submission Details: </b></u> <br/>
        Name: <b> <%= @name %> </b> <br/>
        Email: <i> <%= @email%> </i> <br/>
        Phone Number: <i> <%= @phone%> </i> <br/>
        Title: <u><%= @title%> </u> <br/>
        Research Summary: <p><%= @research_summary%> </p>
  </body>
</html>
