<!-- footer start-->
<footer>
  <div class="container">
    <ul>
    <li><%=link_to "About",show_cms_pages_path(page_slug: 'about')%></li>
    <li><%=link_to "Contact",show_cms_pages_path(page_slug: 'contact')%></li>
    <li><%=link_to("Directory", directory_path)%></li>
    <li><%= link_to("Research", buttercms_blog_path)%></li>
    <li><%=link_to "Terms",show_cms_pages_path(page_slug: 'terms')%></li>
  </ul>
 <span>© 2018 Pureloan.com  All rights reserved. </span>
   </div>
</footer>
<!-- footer end-->
<!-- including javascript files -->
<%= javascript_include_tag "bootstrap.min"%>
<%= javascript_include_tag "custom"%>
